.project
.settings
.classpath
jetty-ssl.keystore
*/target
webservice/*/target
Indexes
web/node_modules
web/src/main/resources/crowd.properties
web/src/main/resources/hibernate-ehcache.xml
web/src/main/resources/hibernate.properties
web/src/main/resources/log4j2.xml
web/src/main/resources/search.properties
web/src/main/resources/spring-local-settings.xml
web/src/main/resources/tdar.properties
web/src/main/resources/jetty/jetty-ssl.keystore.old
