<?xml version="1.0"?>
<!-- vim:sts=2:sw=2: -->
<!-- $Id$ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       ">

  <!--  custom settings/beans -->
	<import resource="spring-local-settings.xml" />

	<!-- tDAR data sources -->
	<import resource='spring-data-sources.xml' />
	<!-- hibernate session factory configuration -->
	<import resource='spring-hibernate.xml' />
	<!-- Spring transaction interceptors and managers -->
	<import resource='spring-transaction.xml' />
	<!-- persistence layer daos -->
	<import resource='spring-daos.xml' />
	<!-- persistence layer services -->
	<import resource='spring-services.xml' />

    <!-- spring JavaMailSenderImpl configuration to be autowired into the EmailService -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
       <property name="host" value="${mail.smtp.host:localhost}" />
    </bean>
    <bean id="freemarkerMailConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPaths">
            <list>
                <value>classpath:/email-templates</value>
                <value>file:/WEB-INF/email-templates</value>
            </list>
        </property>
    </bean>
	
	<!-- TAG Service -->
	<import resource='spring-tag.xml' />
	<!-- Tasks -->
	<import resource='spring-tasks.xml' />
	<!-- session scoped bean -->
	<bean id='sessionData' class='org.tdar.web.SessionData' scope='session'>
		<aop:scoped-proxy />
	</bean>

</beans>
