<?xml version="1.0"?>
<!--
vim:sts=2:sw=2:
-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       ">
  <!-- MODS Transformers 
  <bean id="datasetModsTransformer" class="org.tdar.transform.ModsTransformer.DatasetTransformer" />
  <bean id="documentModsTransformer" class="org.tdar.transform.ModsTransformer.DocumentTransformer" />
  <bean id="ontologyModsTransformer" class="org.tdar.transform.ModsTransformer.OntologyTransformer" />
  <bean id="codingSheetModsTransformer" class="org.tdar.transform.ModsTransformer.CodingSheetTransformer" />
  <bean id="projectModsTransformer" class="org.tdar.transform.ModsTransformer.ProjectTransformer" />
  Oai-DC Transformers 
  <bean id="datasetDcTransformer" class="org.tdar.transform.DcTransformer.DatasetTransformer" />
  <bean id="documentDcTransformer" class="org.tdar.transform.DcTransformer.DocumentTransformer" />
  <bean id="ontologyDcTransformer" class="org.tdar.transform.DcTransformer.OntologyTransformer" />
  <bean id="codingSheetDcTransformer" class="org.tdar.transform.DcTransformer.CodingSheetTransformer" />
  <bean id="projectDcTransformer" class="org.tdar.transform.DcTransformer.ProjectTransformer" />
  -->
      
</beans>
