<?xml version="1.0"?>
<!--
vim:sts=2:sw=2:
-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">
  <context:component-scan base-package="org.tdar"/>
  <context:annotation-config/>
<!-- 
    All of our services are now configured via annotations unless otherwise specified above.  To declare a service add
    @Service to the class and @Autowired to each of the DAOs or other parameters that need to be configured

   A special note about our TypedServices.  As we create new ones, you MUST create a setter to set the DAO with the 
   specific type of DAO you want access to.  This is critical because Spring isn’t that smart.
   -->
</beans>
