

<div class="span10" id="filesReports">
<div class="row">
    <div class="span6">
    <label  style="display:inline">Account:
        <select name="account" id="accountId" v-model="accountId">
                <option v-for="(option, index) in accounts" v-bind:value="option.id"> {{ option.name }} </option>
        </select>
    </label>
    <a v-if="selectedAccount != undefined" :href="selectedAccount.detailUrl"><i class="icon-info-sign"></i></a>
    </div>
    <div class="span4">
        <div class="input-append" >
            <label for="dateSearch" style="display:inline">From:
            <input v-model="dateSearch" type="text" name="dateSearch" id="dateSearch" class="placeholdered " data-date-format="mm/dd/yy" placeholder="mm/dd/yy">
            <span class="add-on"><i class="icon-th"></i></span>
            </label>
        </div>
    </div>
</div>


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><a href="#recent" data-toggle="tab">Recent Changes</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="summary">
<table class="table" v-if="summary != undefined">
    <thead>
        <tr>
            <th>Directory</th>
            <th>Added</th>
            <th>Resources</th>
            <th>Curated</th>
            <th>Initial Reviewed</th>
            <th>Reviewed</th>
            <th>External Reviewed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Total:</b></td>
            <td>{{summary.added}}</td>
            <td>{{summary.resource}}</td>
            <td>{{summary.curated}}</td>
            <td>{{summary.initialReviewed}}</td>
            <td>{{summary.reviewed}}</td>
            <td>{{summary.externalReviewed}}</td>
        </tr>
        <tr v-for="(dir,index) in summary.parts" >
            <td>{{dir.dirPath}}</td>
            <td>{{dir.added}}</td>
            <td>{{dir.resource}}</td>
            <td>{{dir.curated}}</td>
            <td>{{dir.initialReviewed}}</td>
            <td>{{dir.reviewed}}</td>
            <td>{{dir.externalReviewed}}</td>
        </tr>
        
    </tbody>
</table>
  
  </div>
  <div class="tab-pane" id="recent">

<div v-if='recent != undefined'>
        <select name="userId" id="userId" v-model="userId">
                <option>All Users</option>
                <option v-for="(option, index) in recent.userMap" v-bind:value="option.id"> {{ option.name }} </option>
        </select>
</div>
<table class="table"  v-if="recent != undefined && recent.files != undefined">
<tr>
<th>Recently Changed Files</th>
<th>Added</th>
<th>Resource Created</th>
<th>Curated</th>
<th>Initial Reviewed</th>
<th>Reviewed</th>
<th>External Reviewed</th>
</tr>
<tr>    
    <th>Total:{{recent.files.length}}</th>
    <th>{{recent.created}}</th>
    <th>{{recent.resource}}</th>
    <th>{{recent.curated}}</th>
    <th>{{recent.initialReviewed}}</th>
    <th>{{recent.reviewed}}</th>
    <th>{{recent.externalReviewed}}</th>

</tr>
<tr v-for="(file, index) in recent.files">
<td>{{file.name}}</td>
<td><span v-if="yesNo(file.dateCreated)"><i class="icon-check"></i></span></td>
<td><span v-if="yesNo(file.dateResourceCreated)"><i class="icon-check"></i></span></td>
<td><span v-if="yesNo(file.dateCurated)"><i class="icon-check"></i></span></td>
<td><span v-if="yesNo(file.dateInitialReviewed)"><i class="icon-check"></i></span></td>
<td><span v-if="yesNo(file.dateReviewed)"><i class="icon-check"></i></span></td>
<td><span v-if="yesNo(file.dateExternalReviewed)"><i class="icon-check"></i></span></td>
<td></td>
</tr>
</table>
  
  
  </div>
</div>
 

</div>

<script id="insert"></script>