<div class="span10" id="filesTool">

<form class="form-horizontal">
<div class="row">
    <div class="span6">
    <label>Account:
        <select name="account" id="accountId" v-model="accountId">
                <option v-for="(option, index) in accounts" v-bind:value="option.id"> {{ option.name }} </option>
        </select>
    </label>
    </div>
    <div class="span4">
        <input type="search" class="search input pull-right" placeholder="search" v-model="search" />
    </div>
</div>

<table class="table" id="filesTable">
<thead>
 <tr>
    <th></th>
    <th>File Name</th>
    <th>Added</th>
    <th>Note</th>
    <th></th>
    <th v-if="fullService">Curate</th>
    <th v-if="fullService && initialReviewed">initial review</th>
    <th v-if="fullService"><span v-if="initialReviewed">staff </span> review</th>
    <th v-if="fullService && externalReviewed">external review</th>
    <th>status</th>
    <th colspan="2">actions</th>
 </tr>
</thead>
<tr>
 <td colspan="20"><span class="link" @click="cdUp(undefined)">/ </span><span v-for="(dir, index) in dirStack"><span v-if="index != 0"> / </span> <span class="link" @click="cdUp(dir.id)">{{dir.filename}}</span> </span><span class="pull-right" v-if="dirStack.length > 0">(rename)</span></td>
</tr>
        <tbody >
            <tr v-if="parentId != undefined">
            <td></td>
            <td> <span class="link" @click="cdUp(upOneId)"><i class="icon-folder-close"></i> .. </span>  </td>
            </tr>
            <tr class="template-download fade existing-file in" v-for="(file,index) in files"
                is="fileEntry" :index="index" :file="file" :editable="ableToUpload" 
                :fullservice="fullService" :initialreviewed="initialReviewed" :externalreviewed="externalReviewed"></tr>
<tr>
 <td colspan="20"><p style='text-align:center;font-weight:bold'>Note: files in this space expire after {{daysFilesExpireAfter}} days.</td>
</tr>
        </tbody>
</table>

<div class="">
    <label class="btn btn-success fileinput-button" :disabled="inputDisabled" for="fileupload" id="fileuploadWrapper"> <i
        class="glyphicon glyphicon-plus"></i> <span>Upload 
            files...</span> <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple :disabled="inputDisabled" >
    </label>
    <div class="input-append">
    <input class="span2" id="dirName" name="dirName" type="text">
        <button class="btn" type="button" id="mkdir" @click="mkdir">Add Folder</button>
    </div>
    <div class="btn-group">
        <button class="btn" type="button" id="move" @click="moveUI()" :disabled="cannotMoveSelected">Move Selected</button> 
        <button class="btn" type="button" id="create" @click="createRecordFromSelected()" :disabled="cannotCreateRecordfromSelected">Create Record</button> 
    </div>
    <span class="label"> {{selectedFiles.length}} </span>
    </div>
    <ul v-for="(file,index) in selectedFiles"><li>{{file.name}}</li></ul>
     <br> <br>
     <div id="fileUploadErrors" class="fileuploaderrors controls controls-row">
        
        <ul v-for="(error,index) in errors" >
            <li> <label :for="append('fue',index )">{{ error }}</label>
                 <input type="text" :id="append('fue',index )" required="true" class=" required hidden"  :title="error" /> </li>
        </ul>

    </div>

    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="uploadstatus"></div>


    <!--  COMMENT MODAL -->
    <div class="modal hide fade" id="comments-template-modal" v-if="commentFile != undefined">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 v-if="commentFile != undefined">Comments for {{commentFile.name}}</h3>
      </div>
      <div class="modal-body">
        <div>
                <div  v-for="(comment,index) in comments" :fileid="commentFile.id"
                    is="comment" :index="index" :comment="comment"></div>
        </div>
        <textarea name="comment" v-model="comment"></textarea>
        <span  class="link" @click="addComment()">add comment</span>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>


    <!--  MOVE MODAL -->
    <div class="modal hide fade" id="move-template-modal">
      <div class="modal-header">
        <button type="button" class="close"  @click="cancelMove()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 v-if="selectedFiles != undefined ">Move File(s): {{selectedFiles.length }}</h3>
      </div>
      <div class="modal-body">
        <div>
        <p>Click on a folder to move files into that directory:
            <ul v-if="dirTree != undefined && dirTree.length > 0" class="unstyled">
            <li  v-for="(dir,index) in dirTree" is="dir" :index="index" :dir="dir"></li>
            </ul>
        </p>
            
         <p v-if="this.accounts.length > 1">Or, select an account to move files there</p>
            <select name="account" v-model="moveAccountId">
                    <option v-for="(option, index) in accounts" v-bind:value="option.id"> {{ option.name }} </option>
            </select>
         
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" @click="cancelMove()" class="btn">Cancel</a>
      </div>
    </div>


</div>

<template  id="move-entry-template">
    <li>
        <i  v-if="dir.children != undefined && dir.children.length > 0" class="icon-folder-open"></i>
        <i  v-if="dir.children == undefined || dir.children.length == 0" class="icon-folder-close"></i>
    <a href="#" @click="moveSelectedFilesTo(dir)">{{dir.filename}}</a>
        <ul v-if="dir.children != undefined && dir.children.length > 0" style="list-style:none;"> 
            <li  v-for="(dir,index) in dir.children" is="dir" :index="index" :dir="dir"></li>
        </ul>
    
    </li>
</template>

<template id="part-entry-template">
    <span>
        <span class='initials' :title="name" :alt="name" v-if="initials != undefined">{{initials}}</span>
        <span class="date" :title="formatLongDate(date)" :alt="formatLongDate(date)">{{formatDate(date)}}</span>
    </span>
</template>


<template  id="comment-entry-template">
    <div :class="commentClass">
    <pentry :initials="comment.commentorInitials" :date="comment.dateCreated" :name="comment.commentorName" ></pentry>
{{comment.comment}} 
   <span v-if="comment.resolved != undefined" class="pull-right">
        <label v-if="comment.resolved == false"  @click="resolveComment()"><input type="checkbox" @click="resolveComment()"/> resolve</label>
        <i v-if="comment.resolved" :alt="comment.resolverName" :title="comment.resolverName">resolved {{formatDate(comment.dateResolved)}}</i>
    </span> 

   <span v-if="comment.undoAction != undefined" class="pull-right">
        <label  @click="undo()"><input type="checkbox" @click="undo()"/> undo</label></span>

    </span> 

    </div>
</template>


<template id="file-entry-template">
<tr v-bind:id="rowId">
    <td>{{ 1 + index}} <input type="checkbox" name="select" v-model="file.selected" @click="select()"/></td>
    <td> <span v-if="file.size == undefined " class="link" @click="cd(file)"><i class="icon-folder-close"></i> {{file.name}} </span> 
         <span v-if="file.size != undefined "><a :href="downloadUrl">{{file.name }}</a>  <span v-if="file.parts != undefined && file.parts.length > 0" class="label">{{1+file.parts.length}}</span> </span> </td>
    <td>
        <pentry v-if="file.size != undefined" :initials="file.uploaderInitials" :date="file.dateCreated" :name="file.uploaderName" ></pentry> 
                
        </td>
    <td v-if="fullservice">  <input type="text" name="filenote" v-model="file.note" :value="file.note" /> <span class="link" v-if="noteChanged" @click="updateNote()">save</span> </td>
    <td>
        <a :href="fileLink" v-if="file.resourceId == undefined && file.size != undefined"><i class="icon-pencil"></i></a>
    </td>

    <td v-if="fullservice && (file.curate == undefined || file.curate == true)">
        <pentry :initials="file.curatedByInitials" :date="file.dateCurated" :name="file.curatedByName" ></pentry> 
        <i v-if="canCurate" @click="markCurated()" class="icon-thumbs-up"></i>
        <i v-if="!cannotCurate" @click="wontCurate()" class="icon-thumbs-down"></i>
    </td>
    <td v-if="fullservice && initialreviewed"> 
        <pentry :initials="file.initialReviewedByInitials" :date="file.dateInitialReviewed" :name="file.initialReviewedByName" ></pentry> 
        <i v-if="canStudentReview" @click="markinitialReviewed()" class="icon-thumbs-up"></i></td>
    <td v-if="fullservice">
       <pentry :initials="file.reviewedByInitials" :date="file.dateReviewed" :name="file.reviewedByName" ></pentry> 
        <i v-if="canReview" @click="markReviewed()" class="icon-thumbs-up"></i></td>
    <td v-if="fullservice && externalreviewed">
       <pentry :initials="file.externalReviewedByInitials" :date="file.dateExternalReviewed" :name="file.externalReviewedByName" ></pentry> 
        <i v-if="canExternalReview" @click="markExternalReviewed()" class="icon-thumbs-up"></i></td>
    <td><a :href="file.resourceUrl">{{file.resourceId }}</a> {{file.resourceStatus}}  
    </td>
    <td nowrap v-if="fullservice">
        <a href="#"  @click="showComments()"><i class="icon-comment"></i>
        <span class="label"v-if="file.comments != undefined && file.comments.length > 0">{{file.comments.length}}</span></a>
    </td>
    <td>
    </td><td>
        <a href="#" v-if="file.resourceId == undefined && file.size != undefined" @click="deleteFile()"><i class="icon-trash"></i></a>
    </td>
    </tr>
</template>

</form>
<script id="insert"></script>
</div>
