
/* Error banners are a more attention-grabbing form of user notifications. */
.error-banner {
//    background: url(../images/caution.gif) 0.2em 0.2em;
    background-repeat: no-repeat;
    background-size: 1.5em;
    margin-top: 3em;
    padding: 0.2em 0.2em 0.2em 2em;
    border: 2px solid #444;
    color: black;
}

.error-banner {
}

.error-banner h1, .error-banner h2, .error-banner h3, .error-banner h4 {
    color: $darkRed /* "tDAR red" */
}

.bg-red {
    background-color: $darkRed;
    color:white;
}

/* Put error codes in a block-level container w/ class of  .pull-right.error-codes to inset them in the
upper-right corner. Individual codes should be wrapped in span.error-code elements */
.error-banner > .pull-right.error-codes {
    position: relative;
    margin-left: -15px;
    margin-top: 5px;
    font-size: 8pt;
    border-radius: 2px;
    padding: 1px 3px 1px 3px;
    border: 1px solid #dcc;
    color: #555;
}

.error-banner .error-code {
    font-family: monospace;
    padding-right: 1em;
}

.error-code:last-child {
    padding-right: inherit;
}

/* Overide bootstrap default error alert color. Note: avoid modifying anything other than fonts and colors, as the styles here
are governed by several media queries and thus easy to screw up the formatting of various responsive profiles. */
.alert.alert-error {
    background-color: #fffecc;
}

.alert.alert-error p, .alert.alert-error ul, .alert.alert-error li {
    color: #000;
}

.modal-dialog {
    background: white;
}