header + #hero {
//    margin-top: 0em !important;
    margin-bottom:0em !important;
    margin-top:3em;
}

header + #hero-wide {
//    margin-top: 0em !important;
    margin-bottom:0em !important;
    margin-top:0em !important;
}



@media(max-width: 768px) {
   #sidebar-right {
      background-image:none;
   }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 1px) { 
    #hero-wide h2 {
        font-size:2rem !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #hero-wide h2 {
        font-size:2.5rem !important;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #hero-wide h2 {
        font-size:3.0rem !important;
    }
}

//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

#homepageCarousel {
    .carousel-indicators {
        left:initial;
        bottom:0;
    }
}

.whatcanyoudig-image {
    background:url(/images/r4/bg-home.jpg) no-repeat center;
}

.homepage-header-image {
    background-size:cover !important;
    height:25em;
    padding-top:1.5em;
    padding-left:10em;
    border-radius:.25em;
}

.image {
    position:relative;
    height:25em;
.hero-note {
     position: absolute;
     display: inline-block;
     background: rgba(255,255,255,.5);
     padding-left: 2.5em;
     padding-right: 2.5em;
     padding-bottom: 2em;
     padding-top: 2em;
     bottom:2em;
     float:right;
     h2 {
          margin: 0px !important;
          font-weight: 400 !important;
          line-height: 4rem !important;
          margin-top:0px !important;
          .red {
              font-weight:700;
          }
     }
}
}

#home .card p, p.lead {
        min-height: 4em;
        color: rgb(125, 122, 119);
        display: block;
        font-family: ff-tisa-web-pro, serif;
        font-size: 13px;

}

#home  #hero, #hero-wide
  {
      .carousel-inner {
          padding-left:0px;
          padding-right:0px;
      }

      h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 50px;
        letter-spacing: -2px;
        margin: 50px 0 0 0;
        }
        
         p {
        margin: 18px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        }
  }

#home
{
    .card {
         p {
             line-height: 18px;
             margin-bottom: 13px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             min-height: 5.8em;
             text-align: center;
        }
        h5 {
            min-height: 2.4em;
            font-weight:bold;
            font-size:24px;
        }
    }


  .title {
      display: block;
      font-family: helvetica,arial,sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
  }


  .news
  {
      
    li
    {
      font-size: 12px;
      line-height: 20px;
      color: #7d7a77;
      font-style: italic;
      display: block;
      position: relative;
      padding: 12px 0 26px 60px;
      border-bottom: 1px solid #e8e3d7;
      min-height: 4em;
    }

    li:first-child
    {
      padding: 0 0 0px 60px;
    }

    span
    {
      font-weight: 700;
      color: #e3dfd8;
      display: block;
      width: 35px;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-style: normal;
    }

    em
    {
      font-size: 30px;
      font-style: normal;
      display: block;
    }

    a
    {
      .title
      {
        font-family: helvetica, arial, sans-serif;
        font-weight: 700;
        font-size: 15px;
        font-style: normal;
        display: block;
      }
    }
  }

  .topRight
  {
    font-weight: bold;
    text-transform: uppercase;
  }
}


#slider  {
    .carousel-inner {
        padding-left:0px;
        padding-right:0px;
    }


    .carousel-control {
        display: block;
        width: 24px;
        height: 38px;
        background: url(/images/r4/btns-slider.png) 0 0;
        background-repeat: no-repeat;
        text-indent: -999em;
        opacity: 0.5;
        transition: opacity 0.1s ease-out;
    }
    
    .carousel-item {
        padding-left:3em !important;
        padding-right:3em !important;
    }

    .car-btn:hover {
        opacity: 1;
    }

    .carousel-control.left {
        left: 0;
    }
    .carousel-control-next,    .carousel-control-prev {
        width:5%;
    }
    
    .carousel-control.right {
        right: 0;
        background-position: -24px 0;
    }
    

    /* Changes the position of the indicators */
    .carousel-indicators {
        width: 100%;
        top: auto;
        bottom: 0px;
        /* override bootstrap defaults so that page indicators don't overflow into thumbnail section when they wrap (e.g. carousel w/ 100's of images) */
        /*margin-right: -19px;*/
        position: inherit !important;
        margin: 1em 0 0 0;
    }

.carousel-indicators .active {
        background: #333333;
    }

    .carousel-indicators span {
        border-radius: 10px;
        padding: 4px;
        margin: 1pt;
        width: 3px;
        height: 3px;
        display: inline-block;
        background: #c0c0c0;
    }
    

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.image-carousel.carousel {
    margin-bottom: 10px;
    padding: 0 40px 10px 40px;
}

}

.right-bottom-dropshadow {
    box-shadow: 4px 4px rgba(0,0,0,.09);
    padding-right: 0px;
}

.hero-note a:hover {
color: black;
}