// dev.tdar.org or beta.tdar.org
// var gmapsKey = "ABQIAAAA9NaKjBJpcVyUYJMRSYQl8xS0DQCUA87cCG9n-o92VKwf-4ptwhSBrQY9Wnb4P_utINrjb3QZf1KuBw";

document.write("<script src=\"http://maps.google.com/maps?file=api&amp;v=2&amp;key=" + gmapsKey + "\" type=\"text/javascript\"></script>");
