<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
vim:sts=2:sw=2
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false">
    <!-- set session timeout -->
    <session-config>
        <session-timeout>480</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/500.html</location>
    </error-page>
    <!--  do not enable, breaks SpringServlet work
        <absolute-ordering />

     -->
    <mime-mapping>
      <extension>js</extension>
      <mime-type>application/javascript;charset=UTF-8</mime-type>
    </mime-mapping>
</web-app>
