@media print {
    .inline-menu, .subnav {
        display: none;
        visibility: hidden;
    }

    header {
        border-bottom: 2px solid #444;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href]:after, .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "" !important;
    }

    .show-print {
        display: block !important;
        visibility: visible !important;
    }

    .atlwdg-trigger {
        display: none !important;
        visbility: hidden;
    }
    
    .tableFormat th {color: #FFFFFF !Important;}
}
