

.filter-ontology input + label {
    position: relative;
}

.filter-ontology input[disabled] + label {
    font-weight: normal !important;
}

.filter-ontology .inline-label {
    clear: none;
    display: inline-block;
}

.filter-ontology .wf-loading {
    visibility: visible !important;
}



div.orgChart div.node.level1.special {
    background-color: white;
}


.ontology-mapping .ui-autocomplete {
    max-height: 144pt;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1em;
}

.ontology-mapping .ui-menu-item {
    font-family: courier !Important;
    white-space: pre !important;
}

.ontology-mapping .ui-widget {
    font-family: courier;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ontology-mapping .ui-autocomplete {
    height: 144pt;
    overflow-x: hidden;
}

.ontology-mapping .ui-menu .ui-menu-item {
    border: 0px;
    margin: 0px !important;
    padding: 0px !important;
}

.ontology-mapping .ui-menu-item a {
    border: 1px solid transparent;
    min-height: 1em;
    margin: 0px !important;
    padding: 0px !important;
}
