<div id='vueupload'>
<div id="uploadWidget" data-config="#${uploadConfigId}">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>action</th>
            </tr>
        </thead>
        <tbody v-if="files.length > 0" v-for="(file,index) in files">
            <tr class="template-download fade existing-file in"
                is="fpart" :index="index" :file="file" :editable="ableToUpload"></tr>
        </tbody>
    </table>

    <br />
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button" :disabled="inputDisabled" > <i
        class="glyphicon glyphicon-plus"></i> <span>Select
            files...</span> <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple :disabled="inputDisabled" >
    </span> <br> <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="uploadstatus"></div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
</div>

<template id="fpart-template">
<tr v-bind:id="rowId">
    <td>{{index}}</td>
    <td><label class="control-label">Filename</label>
        <div class="controls controls-row">
            <div class="span5">
                <div>
                    <em class="replacement-text "></em>
                </div>
                <span class="name uneditable-input subtle inpux-xlarge"
                    :title="file.name">{{file.name}}</span> <span
                    class="help-inline">{{file.size}}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Restriction</label>
            <div class="controls">
                <select :name="restrictionFieldName" :disabled="inputDisabled"
                    v-model="file.restriction" id="proxy0_conf"
                    class="fileProxyConfidential confidential-contact-required"
                    style="padding-left: 20px;" datarestriction="PUBLIC">
                    <option value="PUBLIC">Public</option>
                    <option value="EMBARGOED_SIX_MONTHS">Embargoed
                        Six Months</option>
                    <option value="EMBARGOED_ONE_YEAR">Embargoed
                        One Year</option>
                    <option value="EMBARGOED_TWO_YEARS">Embargoed
                        Two Years</option>
                    <option value="EMBARGOED_FIVE_YEARS">Embargoed
                        Five Years</option>
                    <option value="CONFIDENTIAL">Confidential</option>
                </select>

            </div>
            <label class="control-label" for="">Date Created</label>
            <div class="controls controls-row">
                <div class="span5">
                    <div class="input-append">
                        <input type="text" :name="createdDateFieldName" :disabled="inputDisabled"
                            class="datepicker" placeholder="mm/dd/yyyy"
                            v-model="file.dateCreated" value=""
                            data-date-format="mm/dd/yyyy"> <span
                            class="add-on"><i class="icon-th"></i></span>
                    </div>

                </div>
            </div>
            <label class="control-label">Description</label>
            <div class="controls controls-row">
                <div class="span5">
                    <textarea class="input-block-level" :disabled="inputDisabled"
                        :name="descriptionFieldName" rows="1"
                        placeholder="Enter a description here"
                        v-model="file.description"></textarea>
                </div>
            </div>
        </div></td>
    <td style="width: 10%"><span
        class="btn fileinput-button replace-file-button btn btn-small btn-warning btn-block" :disabled="inputDisabled"
        :id="wrapperId" style="width: 6em; text-align: left"> <i
            class="icon-refresh icon-white"> </i> <span>Replace</span> 
            <input :disabled="inputDisabled"
            type="file" name="uploadFile" @change="replaceFileChange"
            :id="fileuploadId" class="replace-file">
    </span>
        <button type="button" style="text-align: left" :disabled="inputDisabled"
            v-if="file.replaceFile != undefined" @click="undoReplace"
            class="btn btn-small btn-warning undo-replace-button btn-block"
            title="Restore Original File">Cancel</button>



        <div class="delete">
            <button v-if="file.action != 'DELETE'" :disabled="inputDisabled" type="button"
                class="btn btn-danger delete-button btn-small btn-block"
                @click="deleteFile" data-type="DELETE"
                style="text-align: left">
                <i class="icon-trash icon-white"></i> <span>Delete</span>
            </button>
            <button v-if="file.action == 'DELETE'" :disabled="inputDisabled" type="button"
                class="btn btn-warning delete-button btn-small btn-block"
                @click="unDeleteFile" data-type="DELETE"
                style="text-align: left">
                <i class="icon-trash icon-white"></i> <span>Undelete</span>
            </button>
        </div>


        <div class="fileProxyFields">
            <input type="hidden" v-model="file.action"
                class="fileAction" :name="actionFieldName" value="NONE">
            <input type="hidden" class="fileId" :name="fileIdFieldName"
                :value="file.id"> <input type="hidden"
                class="fileReplaceName" :name="filenameFieldName"
                :value="file.name"> <input type="hidden"
                class="fileSequenceNumber"
                name="sequenceNumberFieldName" value="1">
        </div> file: {{file}}</td>
</tr>
</template>

<!--  fallback for testing -->
<div v-if="false">
<noscript>
    <#list fileProxies as p>
                <assign fupval = ""/>
                <#if (p.fileCreatedDate)?has_content>
                    <#assign fupval="p.fileCreatedDate?string['MM/dd/yyyy']" />
                </#if>
                <input type="hidden" name="fileProxies[${p_index}].restriction" value="${p.restriction}"/>
                <input type="hidden" name="fileProxies[${p_index}].fileCreatedDate" value="${fupval!''}"/>
                <input type="hidden" name="fileProxies[${p_index}].description" value="${p.description!''}"/>
                <input type="hidden" name="fileProxies[${p_index}].filename" value="${p.filename}"/>
                <input type="hidden" name="fileProxies[${p_index}].sequenceNumber" value="${p.sequenceNumber?c}"/>
                <input type="hidden" name="fileProxies[${p_index}].action" value="${p.action}"/>
                <input type="hidden" name="fileProxies[${p_index}].fileId" value="${(p.fileId!-1)?c}"/>
    </#list>
</noscript>
</div>


</div>