<div id="add-resource-form" data-can-edit="${editable?c}" data-resource-id="${resource.id?c}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to a Collection</h3>
  </div>
  
  <div class="modal-body" >
          <form>
              <div>
                <span data-content="A collection must be selected">Select a collection, or create one</span>
                <div  style="padding-left:20px;" class="form-group">
                  <div>
                    <selectize v-bind:options="options" v-model="selectedCollection" size="1"
                         data-max-options="100" data-config="collectionSelectizeOptions" id="collection-list" 
                         data-value-field='id' data-label-field='text' data-search-field='text' data-sort-field='text'>
                    </selectize>
                  </div>
                  <div class="" v-if="isNaN(selectedCollection)" >
                <label for="newCollectionDescription">Collection Description</label>
                      <textarea name="description" id='newCollectionDescription' v-model="newCollectionDescription"> </textarea> 
                  
                  </div>
              </div>
            <div v-if="canEdit">
                <label>
                    <input type="checkbox" v-model="managedResource" />
                     Grant rights to Edit this record to users of this collection
                </label>
             </div>
             
                 <div>
                    <h3>Included as part of : </h3>
                    <ul id='existing-collections-list'>
                    <li v-for="collection in collections.managed">
                        {{ellipse(collection.name)}} (managed) <a v-on:click='removeResourceFromCollection(collection,"MANAGED")' style="cursor:pointer">Remove</a>
                    </li>
                    
                    <li v-for="collection in collections.unmanaged">
                        {{ellipse(collection.name)}} (unmanaged) <a v-on:click='removeResourceFromCollection(collection,"UNMANAGED")' style="cursor:pointer">Remove</a>
                    </li>
                    </ul>
                    <div v-if="collections.managed.length == 0 && collections.unmanaged.length==1">
                        Not part of any collections
                    </div>
                 </div>
             </div>
        </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a href="#" class="btn btn-primary"  v-on:click="addToCollection">Save changes</a>
  </div>
</div>  