<script  type="text/x-template" id="checkboxlist-template">
<div class="checkboxlist d-flex flex-column" >
    <div v-for="item in choices" :key="item.value" class="col-2">
        <label>
            <input
                    type="checkbox"
                    :name="name"
                    v-bind:checked="isChecked(valueFor(item))"
                    v-on:change="cbchanged(valueFor(item), $event.target.checked)"
            />
            {{labelFor(item)}}
        </label>
    </div>
</div>
</script>