<script  type="text/x-template" id="checkboxlist-template">
<div class="checkboxlist d-flex flex-column flex-wrap form-group-sm" style="max-height:250pt" >
    <div v-for="item in choices" :key="item.value" class="form-check pr-2 ">
        <label class="form-check-label">
            <input
                    class="form-check-input"
                    type="checkbox"
                    :name="name"
                    v-bind:checked="isChecked(valueFor(item))"
                    v-on:change="cbchanged(valueFor(item), $event.target.checked)"
                    :value="valueFor(item)"
            />
            <span v-if="labelFor(item).length > 60">{{labelFor(item).substr(0, 60)}} <abbr :title="labelFor(item)">...</abbr></span>
            <span v-else>{{labelFor(item)}}</span>
        </label>
    </div>
</div>
</script>
