<script  type="text/x-template" id="selectlist-template">
    <div class="selectlist form-group">
        <select class="form-control"
                :name="name"
                :multiple="size > 1"
                :size="size"
                @input="selectedOptionsChanged($event.target)"

        >
            <option v-if="blankrow"
                    :value="undefined">-Make a selection-</option>


            <option
                    v-for="(opt, index) in options"
                    :key="name + 'option_' + index"
                    :value="valueFor(opt)"
                    :selected="isSelected(valueFor(opt))"
            >{{labelFor(opt)}}</option>
        </select>
        <div class="form-text text-muted" v-show="statusbar">{{statusMessage}} &nbsp;</div>
    </div>

</script>