<script  type="text/x-template" id="selectlist-template">
    <div class="selectlist">
        <select
                :name="name"
                :multiple="size > 1"
                :size="size"
                @input="selectedOptionsChanged($event, $event.target)"

        >
            <option v-if="blankrow"
                    :value="undefined">-choose somthing-</option>


            <option
                    v-for="(opt, index) in options"
                    :key="name + 'option_' + index"
                    :value="valueFor(opt)"
                    :selected="isSelected(valueFor(opt))"
            >{{labelFor(opt)}}</option>
        </select>
    </div>

</script>