<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- This map maps terms to site type label. Primary key IDs are not used
		because they can vary across databases, should be safe as labels are 
		marked as unique. 
		
		// FROM MDA Archaeological Thesaurus
		-->
	<util:map id="siteTypeTermMap">
		<entry>
			<key>
				<value>AGRICULTURE_AND_SUBSISTENCE</value>
			</key>
			<list>
				<value>Agricultural or Herding</value>
				<value>Fish trap / weir</value>
				<value>Hunting / Trapping</value>
				<value>Fence</value>
				<value>Burned rock midden</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>CIVIL</value>
			</key>
			<list>
				<value>Non-Domestic Structures</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>COMMERCIAL</value>
			</key>
			<list>
				<value>Commercial or Industrial Structures</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>DEFENCE</value>
			</key>
			<list>
				<value>Military structure</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>DOMESTIC</value>
			</key>
			<list>
				<value>Domestic Structure or Architectural Complex</value>
				<value>Great House / Big House</value>
				<value>Kiva / Great Kiva</value>
				<value>Palace</value>
				<value>Structure</value>
				<value>Midden</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>RELIGIOUS_RITUAL_AND_FUNERARY</value>
			</key>
			<list>
				<value>Funerary and Burial Structures or Features</value>
				<value>Church / religious structure</value>
				<value>Temple</value>
				<value>Rock Art</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>HEALTH_AND_WELFARE</value>
			</key>
			<list>
				<value>Sweat house / sweat lodge</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>INDUSTRIAL</value>
			</key>
			<list>
				<value>Commercial or Industrial Structures</value>
				<value>Mine</value>
				<value>Quarry</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>MARITIME</value>
			</key>
			<list>
				<value>Water-related</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>MONUMENT_BY_FORM</value>
			</key>
			<list>
				<value>Cave</value>
				<value>Rock shelter</value>
				<value>Shade structure / ramada</value>
				<value>Platform mound</value>
				<value>Shell mound</value>
				<value>Terrace</value>
				<value>Mound / Earthwork</value>
				<value>Palisade</value>
				<value>Plaza</value>
				<value>Pyrimid</value>
				<value>Kiln</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>RECREATIONAL</value>
			</key>
			<list>
				<value>Ball Court</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>TRANSPORT</value>
			</key>
			<list>
				<value>Road, Trail, and Related Structures or Features</value>
				<value>Stairway</value>
				<value>Submerged aircraft</value>
				<value>Shipwreck</value>
			</list>
		</entry>
		<entry>
			<key>
				<value>WATER_SUPPLY_AND_DRAINAGE</value>
			</key>
			<list>
				<value>Canal or canal feature</value>
				<value>Reservoir</value>
				<value>Water control feature</value>
			</list>
		</entry>
	</util:map>

	<bean id="siteTypeQueryMapper" class="org.tdar.tag.SiteTypeQueryMapper">
		<property name="tagTermMap" ref="siteTypeTermMap" />
	</bean>

	<bean id="tagGateway" class="org.tdar.tag.TagGateway">
		<property name="version" value="0.8" />
		<property name="siteTypeQueryMapper" ref="siteTypeQueryMapper" />
	</bean>

	<jaxws:endpoint id="tagGatewayEndpoint" implementor="#tagGateway"
		address="/TagGatewayService" />

</beans>
