<div id="collection-selection-form" data-url="<@search.searchUrl "saveResults" />">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelSaveSearchChanges">&times;</button>
    <h3>Save Search To Collection</h3>
  </div>
  
  <div class="modal-body modal-tall" >
     
     <div id="progress-title" class="hide">
     </div>
     
	<div class="progress progress-striped active hide" id="upload-progress" >
        <div id="upload-progress-status" class="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
            <span id="current-progress"></span>
        </div>
    </div>
    <div class="hide text-muted text-center" id="progress-message"></div>
    
    <div class="hide alert alert-success alert-dismissable" id="progress-complete-alert" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <span id="progress-complete-text">
        </span>
    </div>
  
	  <form id="upload-form">
	      <div>
	        <span data-content="A collection must be selected">Select a collection, or create one</span>
	        <div class="form-group">
	           <div>
                   <autocomplete url="/api/lookup/collection" field="term" resultsuffix="collections" @autocompletevalueset="selectCollection" ref="collection-list" id="collection-list"
                        fieldname="title" span="span4" idname="id" ref="collection-list" createnewtext="Create New Collection" :suffix="autocompletesuffix"/>
	           </div>
	           
	           <div v-if="isNaN(selectedCollection)" style="margin-top:10px;" >
	             <label for="newCollectionDescription">Collection Description</label>
	             <textarea name="description" class="wide-textarea" id='newCollectionDescription' v-model="newCollectionDescription"> </textarea> 
	           </div>
	           
	           <br />
	           
	           <div class="alert alert-info">
	           Note: Resources within this search that you do not have permissions to will be added to your collection, but you will not be granted additional rights. 
	           </div>
	           
	        </div>
	     </div>
	  </form>
  </div>
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" v-on:click="cancelSaveSearchChanges" v-if="changesMade">Cancel</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" v-on:click="cancelSaveSearchChanges" v-if="changesMade == false">Close</button>

    <button id="submitSaveSearchResultsBtn" class="btn btn-primary"  v-on:click="saveResultsToCollection">Add to Collection</button>
  </div>
</div>