<script type="text/x-template" id="autocomplete">
  <div class="autocomplete">
    <input type="text" @input="onChange" v-model="search" @keyup.down="onArrowDown" @keyup.up="onArrowUp" v-on:keyup.enter.self.stop="onEnter" ref="searchfield" class="input" />
    <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results">
      <li class="loading" v-if="isLoading" :style="getStyleWidth()">
        Loading results...
      </li>
      <li v-else v-for="(result, i) in results" :key="i" @click="setResult(result)" class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }" :style="getStyleWidth()">
      <span v-html="render(result)" v-if="isCustomRender()"></span>
      <span v-if="!isCustomRender()">{{ getDisplay(result) }}  ({{ result.id}})</span>
      </li>
      <li class="autocomplete-result" v-if="!isLoading" :style="getStyleWidth()">
        Showing 1-{{recordsPerPage}} of {{totalRecords}}
      </li>
    </ul>

  </div>
</script>