<script type="text/x-template" id="person-template">
<div>
                <autocomplete url="https://localhost:8443/api/lookup/person" suffix=""  field="term"  v-if="!showEditPerson" :bootstrap4="true"   
                resultsuffix="people" @autocompletevalueset="addAutocompleteValue" span="col-12"
                :customcreatenew="clickNew" createnewtext="Create New Person" :initial_id="creator.id" :initial_value="creator.properName"
                                ref="input" fieldname="properName" :allowCreate="false" idname="personid" /> 
            <div class="" v-show="showEditPerson">
                <div class="row">
                    <input type="text" id="ln" :name="getPrefix('lastName')" maxlength="255" v-model="creator.lastName"  title="A last name" placeholder="Last Name" class="col-6 form-control">
                    <input type="text" :name="getPrefix('firstName')" maxlength="255" v-model="creator.firstName" title="A first name" placeholder="First Name" class="col-6 form-control">
                </div>
                <div class="row">
                    <input type="text" :name="getPrefix('email')" maxlength="255" v-model="creator.email" placeholder="Email (optional)" class="col-6 form-control">
                    <input type="text" :name="getPrefix('institution.name')" maxlength="255" v-model="creator.institution.name" placeholder="Institution Name (Optional)" class="col-6 form-control" v-if="creator.institution != undefined">
                </div>
            </div>

</div>
</script>
<script type="text/x-template" id="institution-template">
<div>
                <autocomplete url="https://localhost:8443/api/lookup/institution" suffix=""  field="institution" v-if="!showEditInstitution"   :bootstrap4="true"
                resultsuffix="institutions" @autocompletevalueset="addAutocompleteValue" span="col-12"
                :customcreatenew="clickNew" createnewtext="Create New Institution" :initial_id="creator.id" :initial_value="creator.properName"
                ref="input" fieldname="properName" :allowCreate="false" idname="institutionid" />
            <div v-show="showEditInstitution">
                <div class="controls-row">
                    <input type="text" :name="getPrefix('name')" maxlength="255" v-model="creator.name" class="col-6 trim form-control" placeholder="Institution Name (Optional)">
                    <input type="text" :name="getPrefix('email')" maxlength="255" v-model="creator.email" class="col-6  trim form-control" placeholder="Email (optional)">
                </div>
            </div>
</div>
</script>

<script type="text/x-template" id="creatorwidget-template">

<div class="row" id="autotool">
    <div class="col-2">
        <div class="control-label">
			<div class="btn-group creator-toggle-button btn-group-toggle" data-toggle="buttons">
                <button type="button" :class="personClass" data-toggle="button" @click="toggleValue('PERSON')">Person</button>
                <input type="hidden" :name="getRootPrefix('type')" v-model="toggle">
                <button type="button" :class="institutionClass" @click="toggleValue('INSTITUTION')" data-toggle="button">Institution</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <input type="hidden" :name="getRootPrefix('id')" v-model="resourcecreator.id" :class="toggleValue">
        <input type="hidden" :name="getRootPrefix('creator.id')" v-model="resourcecreator.creator.id" :value="creatorId" >
        <div v-if="toggle == 'PERSON'">
			<person :creator="resourcecreator.creator" ref="inputperson" @autocompleteset="updatecreator" :row="row" :prefix="prefix"/>
        </div>
        <div v-if="toggle == 'INSTITUTION'">
			<institution :creator="resourcecreator.creator" ref="inputinstitution" @autocompleteset="updatecreator"  :row="row"  :prefix="prefix"/>
        </div>
    </div>
    <div class="col-3">
    
    <select :name="getRootPrefix('role')" class="creator-role-select form-control " v-model="resourcecreator.role">
        <option v-for="(value, index) in actualRoles">{{value}}</option>
    </select>
    </div>
    <div class="col-1">
        <a  :class="deleteClass" @click="deleteRow"><i class="fas fa-trash-alt float-right"></i></i></a>
    </div>
</div>
</script>

