
<div id="sel">

<b>id</b>
<input type="text" v-model="resource.id" name="id" maxlength="512" />
<div data-tiplabel="Title" data-tooltipcontent="If a formal title is given for the resource (as with a report) use this. If no title is supplied, the suggested formula is 'Content, Investigation Type or Site Name, Site Name or Specific Geographic Location'." data-original-title="" title="">

<div class="control-group "><label class="control-label" for="resourceRegistrationTitle">Title <span class="required">*</span></label>    <div class="controls">

<input type="text" v-model="resource.title" name="document.title" maxlength="512"  id="resourceRegistrationTitle" class="required descriptiveTitle input-xxlarge trim" title="A title is required for all Documents" required="true"></div>
</div>
            </div>
            
<div data-tiplabel="Year" data-tooltipcontent="Four digit year, e.g. 1966 or 2005. The publication year for a document, or the year a photograph was taken. Otherwise, the year the resource was created.">

<div class="control-group "><label class="control-label" for="dateCreated">Year <span class="required">*</span></label>    <div class="controls">

<input v-model="resource.date" type="text" name="document.date" maxlength="7" id="dateCreated" class="reasonableDate required input-mini trim" title="Please enter the year this Document was created" required="true"></div>
</div>
                </div>
<div id="t-abstract" class="clear" data-tiplabel="Abstract / Description" data-tooltipcontent="Short description of the             Document
." data-original-title="" title="">

<div class="control-group "><label class="control-label" for="resourceDescription">Abstract / Description <span class="required">*</span></label>    <div class="controls">
<textarea v-model="resource.description" name="document.description" cols="80" rows="4" id="resourceDescription" class="required resizable resize-vertical input-xxlarge trim" title="A description is required" required="true"></textarea></div>
</div>
            </div>
<b>epochtime</b>
    <input type="text" name="startTime" v-model="epochtime" id="metadataForm_epochTimeUpdated">
    <b>accountId</b>
    <input type="text" v-model="accountId" name="accountId" maxlength="512">
    
    <b>submitter</b>
    <div>
        <autocomplete url="/api/lookup/person"
        suffix="user=true" field="term"
        resultsuffix="people" 
        ref="submitter" @autocompletevalueset="setsubmitter"
        fieldname="submitter.properName" allowCreate="false" idname="submitter.id"  :initial_id="submitterId" />
        </div>
    <div>
    <b>Project</b>
    <autocomplete url="/api/lookup/resource"
        suffix="resourceTypes=PROJECT" field="term"
        resultsuffix="resources" 
        @autocompletevalueset="selectProject" ref="input"
        fieldname="title" allowCreate="false" idname="projectId" />
    </div>
    <div>
        <h5>Notes</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingNoteInformation" :disabled="inheritanceDisabled"/></b>
        <div v-for="(note, idx) in resource.resourceNotes" class="row">
              <div class="repeat-row">
        <div class="controls controls-row">
            <div class="span6">
                <div class="controls-row">
                    <select :name="'resourceNotes[' + idx + '].type'" v-model="resource.resourceNotes[idx].type">
                        <option v-for="(opt, idx) in noteTypes" :value="opt.value">{{opt.name}}</option>
                    </select>
                </div>
                <div class="controls-row">
                    <textarea  :name="'resourceNotes[' + idx + '].note'" v-model="resource.resourceNotes[idx].note" cols="80" rows="4" 
                        class="span6 resizable resize-vertical" maxlength="5000" placeholder="enter note contents"></textarea>
                </div>
            </div>
            <div class="span1">
    <button class="btn btn-mini " @click="removeNote(idx)" type="button" tabindex="-1" title="delete this item from the list"><i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
        
    <div class="control-group add-another-control">
    <div class="controls">
        <button class="btn addanother" @click="resource.resourceNotes.push({})" type="button"><i class="icon-plus-sign"></i>add another</button>
    </div>
</div>
        </div>
    </div>

<div>
        <h5>Creators</h5>
        <div v-for="(creator, idx) in resource.contentOwners" class="row">
                    <creatorrolelookup :resourcecreator="creator" :row="idx" :roles="creditRoles" prefix="authorshipProxies" @deleterow="deleteCreatorRow" />
        </div> 
          <button class="btn addanother"  @click="addCreatorRow(resource.contentOwners)" type="button"><i class="icon-plus-sign"></i>add another</button>
        
</div> 
<div>
        <h5>Individual and Institutional Roles</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingIndividualAndInstitutionalCredit" :disabled="inheritanceDisabled"/></b>
        <div v-for="(creator, idx) in resource.activeIndividualAndInstitutionalCredit" class="row">
                <creatorrolelookup :resourcecreator="creator" :row="idx" :roles="creditRoles" prefix="creditProxies" @deleterow="deleteCreatorRow"/>
        </div> 
          <button class="btn addanother"  @click="addCreatorRow(resource.activeIndividualAndInstitutionalCredit)" type="button"><i class="icon-plus-sign"></i>add another</button>
        
</div> 
    
    <div>
        <h5>Other Keywords</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingOtherInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="other" :values="resource.otherKeywords" prefix="otherKeywords" 
            name_field="label" autocomplete_suffix="keywordType=OtherKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
    </div>
    <div>
        <h5>Culture Keywords</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingCulturalInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="culture"  :values="resource.cultureKeywords" prefix="uncontrolledCultureKeywords" 
            name_field="label" autocomplete_suffix="keywordType=CultureKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
    </div>
    <div>
        <h5>Temporal Keywords</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingTemporalInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="temporal" :values="resource.temporalKeywords" prefix="temporalKeywords" 
            name_field="label" autocomplete_suffix="keywordType=TemporalKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
    </div>
    <div>
        <h5>Site Information</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingSiteInformation" :disabled="inheritanceDisabled"/></b>
        <div>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="siteName" :values="resource.siteNameKeywords" prefix="siteNameKeywords" 
            name_field="label" autocomplete_suffix="keywordType=SiteNameKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
        </div>
        <br/>
        <div>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="siteType" :values="resource.siteTypeKeywords" prefix="uncontrolledSiteTypeKeywords" 
            name_field="label" autocomplete_suffix="keywordType=SiteTypeKeyword"  :include_id="false" :use_name_field="false"
            result_suffix="items"  />
        </div>
    </div>
    <div>
        <h5>Investigation Type</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingInvestigationInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="investigationType" :values="resource.investigationTypes" prefix="controlledInvestigationTypes" 
            name_field="label" autocomplete_suffix="keywordType=InvestigationType" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
    </div>
    <div>
        <h5>Material</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingMaterialInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="material" :values="resource.materialKeywords" prefix="uncontrolledMaterialKeywords"  
            name_field="label" autocomplete_suffix="keywordType=MaterialKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
    </div>
    <div>
        <h5>Geographic</h5>
        <b :class="inheritanceDisabledClass">inherit from: {{project.title}} <input type="checkbox" v-model="resource.inheritingSpatialInformation" :disabled="inheritanceDisabled"/></b>
        <tagbox autocomplete_url="/api/lookup/keyword" ref="geographic" :values="resource.geographicKeywords" prefix="geographicKeywords"
            name_field="label" autocomplete_suffix="keywordType=GeographicKeyword" :include_id="false" :use_name_field="false"
            result_suffix="items"  />
            

    </div>
    
    
        <div id='vueeditablemap' style="height:300px" class=" span9" data-search="true">
            <div id="divManualCoordinateEntry2" data-tooltipcontent="#divManualCoordinateEntryTip" class="latlong-fields">
                <input type="checkbox" id="viewCoordinatesCheckbox2" name="_tdar.viewCoordinatesCheckbox" onclick="TDAR.common.coordinatesCheckboxClicked(this);" label='Enter / View Coordinates' labelposition='right'  />
                <div id='explicitCoordinatesDiv' style='text-align:center;'>
            
            <table cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;text-align:left;">
                        <tbody><tr>
                            <td></td>
                            <td>
<input type="text" name="latitudeLongitudeBoxes[0].north"size="14" value="" class="maxy float latLong ne-lat hidden" title="Please enter a valid Maximum Latitude" v-model="resource.activeLatitudeLongitudeBoxes[0].north">
                                <input type="text" placeholder="Latitude (max)" class="ne-lat-display span2 d_maxy"   >
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:33%;text-align:center">
<input type="text" name="latitudeLongitudeBoxes[0].west" size="14" value=""  class="minx float latLong sw-lng hidden" title="Please enter a valid Minimum Longitude" v-model="resource.activeLatitudeLongitudeBoxes[0].west"> 
                               <input type="text"  placeholder="Longitude (min)" class="sw-lng-display span2 d_minx"  >
                            </td>
                            <td style="width:33%;text-align:center">
                                <input type="button" id="locate" ref="updateMap" value="Locate" class="btn locateCoordsButton">
                            </td>
                            <td style="width:33%;text-align:center">
<input type="text" name="latitudeLongitudeBoxes[0].east" v-model="resource.activeLatitudeLongitudeBoxes[0].east" size="14" class="maxx float latLong ne-lng hidden" title="Please enter a valid Maximum Longitude" >
                                <input type="text" placeholder="Longitude (max)" class="d_maxx ne-lng-display span2">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
<input type="text" name="latitudeLongitudeBoxes[0].south" v-model="resource.activeLatitudeLongitudeBoxes[0].south" size="14"  class="miny float latLong sw-lat hidden" title="Please enter a valid Minimum Latitude" >
                                <input type="text"  placeholder="Latitude (min)" class="d_miny sw-lat-display span2">
                            </td>
                            <td></td>
                        </tr>
                    </tbody></table>
                    
                    
                </div>
            </div>
                                <div class="mapdiv"></div>
        </div>
    
        {{resource}}
        <hr>
        {{project}}
        

</div>
<script>
$(document).ready(function() {

var cl =  Vue.component('checkboxlist', {
    name: "checkboxlist",
    template: "#checkboxlist-template",
    props: {
    }});
    
    var app = new Vue({
        el : "#sel",
        data : {
                separator: ";" ,
                autocomplete_url:'https://localhost:8443/api/lookup/resource',
                autocomplete_suffix:'',
                result_suffix:'resources',
                allow_create:true,
                nameField: 'title',
                idField: 'id',
                accountId: 219,
                epochtime: -1,
                submitterId: undefined,
                projectId: undefined,
                inheritanceDisabled: true,
                project: {},
                creditRoles: ["ANALYST","COLLABORATOR","CONTACT","CONTRIBUTOR","FIELD_DIRECTOR","LAB_DIRECTOR","LANDOWNER","PERMITTER","PREPARER","PRINCIPAL_INVESTIGATOR","PROJECT_DIRECTOR","PUBLISHER","REPOSITORY","SPONSOR","SUBMITTED_TO","TRANSLATOR"],
                noteTypes: [
                    {value:"GENERAL", name:"General Note"},
                    {value:"REDACTION", name:"Redaction Note"},
                    {value:"RIGHTS_ATTRIBUTION", name:"Rights & Attribution"},
                    {value:"ADMIN", name:"Administration Note"}
                    ],
                resource: { otherKeywords:[], siteNameKeywords:[], siteTypeKeywords:[], materialKeywords:[], geographicKeywords:[], investigationTypes:[], cultureKeywords:[], temporalKeywords:[],
                    resourceNotes: [{}],  latitudeLongitudeBoxes: [{north: undefined, south: undefined, east: undefined,west: undefined } ],
                    individualInstitutionalRoles: [{id: undefined, role: undefined , creator: {institution:{ name: undefined}}, id: undefined}] }
                },
                watch: {
                    "resource.inheritingInvestigationInformation": function(o, b) {
                        this.inherit(o,b,'investigationType', 'activeInvestigationTypes');
                    },
                    "resource.inheritingSiteInformation": function(o, b) {
                        this.inherit(o,b,'siteName', 'activeSiteNameKeywords');
                        this.inherit(o,b,'siteType', 'activeSiteTypeKeywords');
                    },
                    "resource.inheritingTemporalInformation": function(o, b) {
                        this.inherit(o,b,'temporal', 'activeTemporalKeywords');
                    },
                    "resource.inheritingIndividualAndInstitutionalCredit": function(o, b) {
                        if (this.project != undefined && this.project.activeIndividualAndInstitutionalCredit != undefined) {
                        this.resource.activeIndividualAndInstitutionalCredit.length = 0;
                        var self = this;
                        this.project.activeIndividualAndInstitutionalCredit.forEach(function(role_) {
                            var role = JSON.parse(JSON.stringify(role_));
                            role.init = "";
                            role.id = undefined;
                            self.resource.activeIndividualAndInstitutionalCredit.push(role);
                        });
                        
                        }
                    },
                    "resource.inheritingMaterialInformation": function(o, b) {
                        this.inherit(o,b,'material', 'activeMaterialKeywords');
                    },
                    "resource.inheritingCulturalInformation": function(o, b) {
                        this.inherit(o,b,'culture', 'activeCultureKeywords');
                    },
                    "resource.inheritingSpatialInformation": function(o, b) {
                        this.inherit(o,b,'geographic', 'activeGeographicKeywords');
                        if (this.project != undefined && this.project.activeLatitudeLongitudeBoxes != undefined) {
                        this.resource.activeLatitudeLongitudeBoxes[0].west = this.project.activeLatitudeLongitudeBoxes[0].obfuscatedWest;
                        this.resource.activeLatitudeLongitudeBoxes[0].east = this.project.activeLatitudeLongitudeBoxes[0].obfuscatedEast;
                        this.resource.activeLatitudeLongitudeBoxes[0].south = this.project.activeLatitudeLongitudeBoxes[0].obfuscatedSouth;
                        this.resource.activeLatitudeLongitudeBoxes[0].north = this.project.activeLatitudeLongitudeBoxes[0].obfuscatedNorth;
                        console.log(this.resource.activeLatitudeLongitudeBoxes[0]);
                        Vue.nextTick(function() {
                            $(".locateCoordsButton").click();
                        });
                            }
                    },
                    "resource.inheritingOtherInformation": function(o, b) {
                        this.inherit(o,b,'other', 'activeOtherKeywords');
                    },
                    "resource.inheritingIdentifierInformation": function(o, b) {
                        //this.inherit(o,b,'culture', 'activeCultureKeywords');
                    },
                    "resource.inheritingCollectionInformation": function(o, b) {
                      //  this.inherit(o,b,'culture', 'activeCultureKeywords');
                    },
                    "resource.inheritingNoteInformation": function(o, b) {
                        if (this.project != undefined && this.project.activeResourceNotes != undefined) {
                        this.resource.resourceNotes.length = 0;
                        var _app = this;
                        this.project.activeResourceNotes.forEach(function(n) {
                            console.log(n);
                            _app.resource.resourceNotes.push(JSON.parse(JSON.stringify(n)) );
                        });
                        if (this.resource.resourceNotes.length == 0) {
                            this.resource.resourceNotes.push({});
                        }
                        }
                    }
                },
                computed: {
                    inheritanceDisabledClass: function() {
                        if (this.inheritanceDisabled == true) {
                            return "disabled";
                            }
                        return "";
                    }
                },
                created: function() {
                    if (document.getElementById('json') != undefined) {
                        var json = JSON.parse(document.getElementById('json').innerText );
                        //json.submitter = {id:135028};
                        Vue.set(this,'resource',json);
                         if (json.submitterRef != undefined && json.submitterRef.indexOf(":") != -1) {
                            Vue.set(this,'submitterId',parseInt(json.submitterRef.substring(json.submitterRef.indexOf(":") + 1)));
                        }
                        if (json.activeIndividualAndInstitutionalCredit == undefined || json.activeIndividualAndInstitutionalCredit.length == 0) {
                            json.activeIndividualAndInstitutionalCredit = [{creator:{person:{institution:{}}}}];
                        }
                        if (json.contentOwners == undefined || json.contentOwners.length == 0) {
                            json.contentOwners = [{creator:{person:{institution:{}}}}];
                        }
                        if (json.activeLatitudeLongitudeBoxes == undefined || json.activeLatitudeLongitudeBoxes.length == 0) {
                            json.activeLatitudeLongitudeBoxes = [{north: undefined, south: undefined, east: undefined,west: undefined } ];
                        }
                    }
                    Vue.set(this,"epochtime", Date.now() + 15000);
                    Vue.set(this,"accountId",220);
                    //Vue.set("resource","submitter",{});
                    //this.resource.submitter = {id:8344, properName:'adam brin'};
                    var self = this.resource.activeLatitudeLongitudeBoxes[0];
                    Vue.nextTick(function() {
                        TDAR.leaflet.initEditableMap($('#vueeditablemap'), function(e){
                            Vue.set(self, "west", e.minx);
                            Vue.set(self, "east", e.maxx);
                            Vue.set(self, "north", e.maxy);
                            Vue.set(self, "south", e.miny);
                            });
                    });
                },
                methods: {
                    removeNote: function(idx) {
                        if (this.resource.resourceNotes.length > 1) {
                            this.resource.resourceNotes.splice(idx,1);
                        }
                        if (this.resource.resourceNotes.length == 0) {
                            this.resource.resourceNotes.push({});
                        }
                        if (this.resource.resourceNotes.length == 1) {
                            this.resource.resourceNotes[0]= {};
                        }
                    },
                    setsubmitter: function(submitter) {
                        console.log("setsubmitter", submitter);
                        Vue.set(this.resource,"submitter",submitter );
                    },
                    inherit: function(o, b, ref, vals) {
                        if (this.project[vals] != undefined && o == true) {
                            this.$refs[ref].setValues(this.project[JSON.parse(JSON.stringify(vals)) ]); 
                            this.$refs[ref].disable();
                        } else {
                            this.$refs[ref].enable();
                        }
                    },
                    addCreatorRow: function(el) {
                        el.push({creator:{person:{institution:{}}}});
                        },
                    deleteCreatorRow: function(el,idx) {
                        console.log(el, idx);
                        el.splice(idx,1);
                    },
                    selectProject: function(val) {
                        console.log("project:", val);
                        if (val == undefined) {
                            return;
                        } 
                        this.projectId = val.id;
                        var self = this;
                        axios.get("/project/json/" + val.id).then(function(res) {
                            //Vue.set(self, "isLoading",false);
                            Vue.set(self, 'project',res.data);
                            Vue.set(self, 'inheritanceDisabled',false);
                        }).catch(function(thrown) {
                            if (!axios.isCancel(thrown)) {
                                console.error(thrown);
                            }
                        });
                    }
                    
                }
    });

});
</script>
