/**
These style definitions will likely go away when I'm certain that they don't screw up anything outside of integration
**/

#tabControl li.integration-column {
}

/* close button on tabs */
.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}


.modal.modal-big {
    /* allow for 10 columns per row  */
    width:82%;
    left: 9%;
    margin-left:0;
}

.modal.modal-big.fade.in {
    top: 5%;
}

/* jtd: temporary - the bootstrap transitions bug me */
.modal.modal-big.fade.in, .modal.modal-big.fade {
    transition: none;
}

.modal.modal-big .modal-header {
    padding: 4px 8px;
}

.modal.modal-big .modal-body {
    max-height: 500px;
    padding: 8px;
}

.modal.modal-big .modal-footer {
    padding: 10px 8px 10px;
}

.table-modal-results {
}

.nodechild0,.nodeChild {margin-left:0em;}
.nodechild1 {margin-left:1em;}
.nodechild2 {margin-left:2em;}
.nodechild3 {margin-left:3em;}
.nodechild4 {margin-left:4em;}
.nodechild5 {margin-left:5em;}
.nodechild6 {margin-left:6em;}
.nodechild7 {margin-left:7em;}
.nodechild8 {margin-left:8em;}
.nodechild9 {margin-left:9em;}
.nodechild10 {margin-left:10em;}

.inthead {
    margin-top: 1em;
    margin-bottom: 2.5em;
    padding: 1em;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 1em;
    line-height: normal;

}
.inthead li.active {
    font-weight: bold;
}
.inthead h1, .inthead h2{
    margin:0;
    padding:0;
    line-height: normal;
    font-weight: normal;


}
.inthead h1 {
    font-size: 18pt;
}
.inthead h2 {
    margin-left: 1em;
    font-size: 15pt;
}

h1.compact {
    margin-top:0 !important;
    margin-bottom: -3pt ;
}
h2.compact {
    margin-top:-3pt ;
}
input.intcol, select.intcol {
    width: 90pt;
}

#modalResults.disabled {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}