<script type="text/x-template" id="autocomplete">
    <div :class="getRootClass()" ref="autocompleteroot" @mouseover="addFocus('mouse')" @mouseout="removeFocus('mouse')">
        <input type="hidden"  :name="idname" v-if="idname != undefined"  :value="id" >
        <input type="text"
               @input="onChange"
               v-model="search"
               @keyup.down="onArrowDown"
               @keyup.up="onArrowUp"
               @keyup.enter.self.stop="onEnter"
               @keydown.delete="deleteKey"
               @keyup.enter="enterKey"
               @keyup="anyKey"
               autocomplete="off"
               :disabled="disabled"
               ref="searchfield"
               :class="span"
               :name="field"
               @focus="addFocus('cursor')"
               @blur="removeFocus('cursor')"/>
        <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results" :style="getStyleTop()"
            ref="autoresults">
            <li v-if="!isLoading" v-for="(result, i) in results" :key="i" @click="setResult(result)"
                class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }" :style="getStyleWidth()">
                <span v-html="render(result)" v-if="isCustomRender()"></span>
                <span v-if="!isCustomRender()">{{ getDisplay(result) }} <span v-if="!!result.id"> ({{ result.id}})</span></span>
            </li>
            <li class="status text-center center" :style="getStyleWidth()">
                <span v-if="isLoading">Loading results...</span>
                <span v-if="!isLoading && recordsPerPage < totalRecords "> Showing 1-{{recordsPerPage}} of {{totalRecords}} </span>
                <span v-if="!isLoading && recordsPerPage >= totalRecords "> Showing {{totalRecords}} Records</span>
            </li>
        </ul>

    </div>
</script>
