.view .sidebar, .dashboard .sidebar {
  background: url(/images/r4/bg-cols-right.png) top left repeat-y;
  margin-left: 0px;
  padding-left: 0px; }

.noleftmargin {
  margin-left: 0px;
  padding-left: 0px; }

aside li {
  font-size: 13px;
  line-height: 17px;
  color: #000;
  margin-top: 15px; }

a {
  color: #7a1501; }

.red {
  color: #7a1501; }

.serif {
  font-family: "ff-tisa-web-pro", serif !important; }

.black {
  color: #000; }

.white {
  color: white;
  fill: white; }

.beige {
  background-color: #E3E0D8; }

.lightbeige {
  background-color: rgba(227, 224, 216, 0.2); }

.white-border-bottom {
  border-bottom: 4px solid white; }

a.tdarButton, .tdar-button, input.tdar-button[type=submit] {
  font-family: helvetica, arial, sans-serif;
  height: 35px;
  display: inline-block;
  background: #7a1501;
  margin: 0 4px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
  zoom: 1;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border: none;
  padding-top: .6em;
  vertical-align: middle;
  padding-bottom: 0;
  background-color: #7a1501;
  color: #fff;
  border-radius: 0; }
  a.tdarButton :focus, .tdar-button :focus, input.tdar-button[type=submit] :focus {
    background-color: #a72e1d; }

nav {
  font-weight: bold; }
  nav .logIn {
    font-size: 0.85rem;
    text-transform: uppercase; }
    nav .logIn .tdarLink {
      color: #7a1501; }

.tdarNav {
  background: url(../../images/r4/bg-sub.jpg) no-repeat bottom center;
  /* background-size: cover;  this doesn't help with smalleer sizes, because the background doesn't fill top-to-botom */
  border-bottom: 1px solid #CCC; }
  .tdarNav .tdarNavItem {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    border-right: #7a1501; }
  .tdarNav .nav-chevron {
    stroke-width: 5px;
    stroke: #7a1501; }
  .tdarNav .show .nav-chevron {
    transform: rotate(180deg); }

.tdar-slider h4 a {
  cursor: auto;
  font-family: ff-tisa-web-pro, serif;
  font-size: 15px;
  font-weight: bold;
  height: auto;
  line-height: 19px; }

p.lead {
  min-height: 4em;
  color: #7d7a77;
  display: block;
  font-family: ff-tisa-web-pro, serif;
  font-size: 13px; }

.carousel, .image-carousel.carousel {
  /* Changes the position of the indicators */ }
  .carousel .carousel-inner, .image-carousel.carousel .carousel-inner {
    padding-left: 6em;
    padding-right: 6em; }
  .carousel .carousel-control, .image-carousel.carousel .carousel-control {
    display: block;
    width: 24px;
    height: 38px;
    background: url(/images/r4/btns-slider.png) 0 0;
    background-repeat: no-repeat;
    text-indent: -999em;
    opacity: 0.5;
    transition: opacity 0.1s ease-out; }
  .carousel .car-btn:hover, .image-carousel.carousel .car-btn:hover {
    opacity: 1; }
  .carousel .carousel-control.left, .image-carousel.carousel .carousel-control.left {
    left: 0; }
  .carousel .carousel-control.right, .image-carousel.carousel .carousel-control.right {
    right: 0;
    background-position: -24px 0; }
  .carousel .carousel-indicators, .image-carousel.carousel .carousel-indicators {
    width: 100%;
    top: auto;
    bottom: 0px;
    /* override bootstrap defaults so that page indicators don't overflow into thumbnail section when they wrap (e.g. carousel w/ 100's of images) */
    /*margin-right: -19px;*/
    position: inherit !important;
    margin: 1em 0 0 0; }
  .carousel .carousel-indicators .active, .image-carousel.carousel .carousel-indicators .active {
    background: #333333; }
  .carousel .carousel-indicators span, .image-carousel.carousel .carousel-indicators span {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 4px;
    margin: 1pt;
    width: 3px;
    height: 3px;
    display: inline-block;
    background: #c0c0c0; }

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.image-carousel.carousel {
  margin-bottom: 10px;
  padding: 0 40px 10px 40px; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: black; }

h1 {
  font-size: 30px;
  line-height: 34px; }

h1, h2, h3, header {
  font-family: "soleil", sans-serif !important;
  font-weight: 700; }

header .navbar button {
  font-size: 14px; }

header + section {
  margin-top: 3.5em; }

header + #hero {
  margin-top: 0em !important; }

.welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
  font-family: "soleil", sans-serif !important; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 7px; }

h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20px !important;
  padding-top: 15px; }

aside h4 {
  border-top: 1px solid #e5e5e5; }

#home .news li, .cols p,
.tableFormat td, header form input.searchbox,
header .welcome-drop a,
.hero input.searchbox,
#slider p,
#slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
  font-family: "ff-tisa-web-pro", serif !important; }

@media (min-width: 991.98px) {
  .tdarDropdown .flex-column:first-child {
    border-right: 2px solid #7a1501; }

  .dropdown-menu:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }

  .dropdown-menu-right:after {
    left: 80% !important; }

  .dropdown-menu:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px; }

  .dropdown-menu:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 16.5px;
    margin-left: -16.5px; } }
@media (max-width: 768px) {
  #home #hero h2 {
    font-size: 3.5rem; }

  #mdScreenNav {
    background-color: #E3E0D8; }

  .tdarNav {
    background: none; }
    .tdarNav .tdarNavItem {
      padding-left: 0; }

  #tdarNavMenu li, #myAccountNav li {
    border-top: 2px solid #D2BF9E; }
  #tdarNavMenu .nav-link, #tdarNavMenu .btn-link, #myAccountNav .nav-link, #myAccountNav .btn-link {
    color: #352319;
    font-size: 24px;
    font-weight: bold; }

  .nav-chevron {
    stroke: #352319; } }
#home .card p, p.lead {
  min-height: 4em;
  color: #7d7a77;
  display: block;
  font-family: ff-tisa-web-pro, serif;
  font-size: 13px; }

#home .card p {
  line-height: 18px;
  margin-bottom: 13px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 52px;
  text-align: center; }
#home .card h5 {
  min-height: 2em;
  font-weight: bold;
  font-size: 24px; }
#home #hero {
  background: url(../../images/r4/bg-home.jpg) no-repeat center;
  background-size: cover; }
  #home #hero h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 50px 0 0 0; }
  #home #hero p {
    margin: 18px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; }
#home .title {
  display: block;
  font-family: helvetica,arial,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700; }
#home .news li {
  font-size: 12px;
  line-height: 20px;
  color: #7d7a77;
  font-style: italic;
  display: block;
  position: relative;
  padding: 12px 0 26px 60px;
  border-bottom: 1px solid #e8e3d7;
  min-height: 4em; }
#home .news li:first-child {
  padding: 0 0 0px 60px; }
#home .news span {
  font-weight: 700;
  color: #e3dfd8;
  display: block;
  width: 35px;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-style: normal; }
#home .news em {
  font-size: 30px;
  font-style: normal;
  display: block; }
#home .news a .title {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  display: block; }
#home .topRight {
  font-weight: bold;
  text-transform: uppercase; }

/********** LEAFLET **************/
/** leaflet maps - **/
.disable-map .leaflet-draw {
  display: none;
  visibility: hidden; }

.disable-map .leaflet-container, .leaflet-container.disable-map {
  opacity: .5; }

/* bootstrap css affects google maps v3 - http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps */
#large-google-map img, .google-map img {
  border: inherit;
  height: auto;
  max-width: inherit; }

.tdar-map-large, #large-google-map {
  height: 450px; }

#large-google-map label, .google-map label {
  width: auto;
  display: inline; }

.tdar-gmap-control button:disabled {
  display: none; }

form.leaflet-control-geocoder-form {
  padding: 0px;
  margin: 0px; }

/* Error banners are a more attention-grabbing form of user notifications. */
.error-banner {
  background: url(../images/caution.gif) 0.2em 0.2em;
  background-repeat: no-repeat;
  background-size: 1.5em;
  margin-top: 3em;
  padding: 0.2em 0.2em 0.2em 2em;
  border: 2px solid #444;
  color: black; }

.error-banner h1, .error-banner h2, .error-banner h3, .error-banner h4 {
  color: #7a1501; }

.bg-red {
  background-color: #7a1501; }

/* Put error codes in a block-level container w/ class of  .pull-right.error-codes to inset them in the
upper-right corner. Individual codes should be wrapped in span.error-code elements */
.error-banner > .pull-right.error-codes {
  position: relative;
  margin-left: -15px;
  margin-top: 5px;
  font-size: 8pt;
  border-radius: 2px;
  padding: 1px 3px 1px 3px;
  border: 1px solid #dcc;
  color: #555; }

.error-banner .error-code {
  font-family: monospace;
  padding-right: 1em; }

.error-code:last-child {
  padding-right: inherit; }

/* Overide bootstrap default error alert color. Note: avoid modifying anything other than fonts and colors, as the styles here
are governed by several media queries and thus easy to screw up the formatting of various responsive profiles. */
.alert.alert-error {
  background-color: #fffecc; }

.alert.alert-error p, .alert.alert-error ul, .alert.alert-error li {
  color: #000; }

/** set width and height properly **/
.svgicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.svg-small {
  height: 40px !important;
  width: 40px !important; }

.svg100 {
  height: 100px !important;
  width: 100px !important; }

.iconbox125 {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0% !Important;
  margin-bottom: 0% !important;
  height: 125px;
  width: 125px;
  float: none; }

.svg-dynamic125 {
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.iconbox {
  float: none;
  padding: 10%;
  margin-left: auto;
  margin-right: auto; }

.svg-dynamic {
  max-width: 80% !important;
  max-height: 80% !important;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.svg-cartouche {
  height: 1em;
  width: 1em;
  margin: 0 auto;
  display: block;
  margin-right: 3px; }

.flex {
  display: flex; }

.grey {
  fill-color: #555555;
  color: #555555; }

/*** WORLDMAP *****/
#mapgraphdata {
  text-align: center;
  height: 100px; }

#worldmap.leaflet-container {
  background-color: #D5F0FD;
  border: 1px solid #AAA; }

#worldmap .info {
  background-color: #fff;
  opacity: .8;
  padding: 2px; }

#worldmap .legend {
  background-color: #fff;
  float: right; }

#worldmap .leaflet-control-attribution {
  display: none; }

.worldmap {
  border: 1px solid #aaa; }

#map_legend {
  position: absolute;
  display: block;
  width: 300px;
  height: 1.8em;
  bottom: 0px;
  /* //FIXME: 100px shift is unnecessary if we can put legend inside of .worldmap */
  right: 100px; }

.mapcontainer .legendText {
  padding-top: 0px !important;
  margin-left: 5px;
  margin-right: 5px; }

.mapcontainer .legendBox, .mapcontainer .legendText {
  clear: none;
  float: left; }

.mapcontainer .legendBox {
  border: 1px solid #666666;
  width: 10px;
  margin-top: 3px;
  height: 10px;
  padding: 2px; }

div.mapcontainer {
  position: relative; }

div.mapcontainer img {
  height: 304px !Important;
  right: 0px;
  display: block;
  position: relative; }

.mapcontainer #data {
  font-weight: bold; }

#mapGraphZoomOut, #mapGraphZoomOut *, #mapGraphSearch, #mapGraphSearch * {
  cursor: hand;
  cursor: pointer; }

.mapcontainer.mini h3, .mapcontainer.mini #mapgraphdata {
  display: none; }

.mini #worldmap.leaflet-container {
  border: none;
  background-color: #fff; }

.mini .leaflet-interactive {
  cursor: default; }

ul.treeview li {
  margin-top: 0px !important; }
ul.treeview ul {
  margin-top: 0px !important; }
ul.treeview label {
  margin-bottom: 0px !important; }

/******** GRAPHING **********/
.barChart .c3-text {
  fill: black !important; }

.barGraph {
  position: relative; }

/**** VIEW ****/
.view-deleted-file {
  background-color: #edd87b;
  text-decoration: line-through;
  display: none; }

.view-hidden-extra-files {
  display: none; }

/* contextual help styling - based off of 'downloads' box on view page */
#notice {
  font-family: 'ff-tisa-web-pro', serif;
  background-color: #f0eeeb; }

#notice h2 {
  font-size: 15px; }

/*use in column-sized div to scale image if width exceeds parent width */
img.responsive-image {
  max-width: 100%;
  height: auto; }

#downloadsMoreArea {
  background-color: #ddd;
  padding-left: 35px; }

.view aside li strong {
  font-weight: 700;
  font-size: 12px;
  color: #1b1a18;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase; }
.view aside h3.downloads {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #fff;
  height: 45px;
  line-height: 45px;
  margin: 0 !important;
  padding: 0 10px;
  background: #7a1501;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  border-bottom: none; }
.view aside h3.downloads span.downloadNumber {
  display: inline-block;
  float: right;
  font-size: 13px;
  line-height: 22px !important;
  background: #641b11;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 22px;
  text-align: center;
  margin-top: 11px;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }
.view aside ul.downloads, .view aside ul.downloads li {
  background: #f0eeeb;
  margin: 0 !important; }
.view aside ul.downloads li {
  color: #7d7a77;
  padding: 14px 10px 14px 32px;
  border-bottom: 1px solid #fff; }
.view aside li strong {
  font-weight: 700;
  font-size: 12px;
  color: #1b1a18;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase; }
.view aside li {
  font-size: 13px;
  line-height: 17px;
  color: #7d7a77;
  margin-top: 15px; }
.view aside h3 {
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin: 20px 0; }

.section + .section {
  padding-top: 1em;
  border-top: 1px solid #EEE; }

.section, .section + .card {
  margin-bottom: 1em; }

.resource-list .listItem b {
  font-size: 112%; }

div.tdarresults {
  border-top: double #222;
  border-bottom: double #222;
  padding-bottom: 3em;
  padding-top: 1em;
  margin-bottom: 0.1em; }

.LIST.list-unstyled li, .MAP li {
  line-height: 20px;
  margin-bottom: 10px; }

.page-item.active .page-link {
  background-color: #7a1501;
  border-color: #7a1501; }
  .page-item.active .page-link a {
    color: #fff; }

.nav-pills .nav-item {
  width: 100%; }
.nav-pills .nav-link.active {
  background-color: #7a1501;
  color: #fff; }

/*** ALPHA **/
.ribbon-green {
  z-index: 1000;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: fixed;
  padding: 7px 0;
  left: -34px;
  top: 11px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px; }

.ribbon-green:before {
  left: 0; }

.ribbon-green:after {
  right: 0; }

.hidden {
  display: none;
  visibility: hidden; }

body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

.tableFormat {
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 8px 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

p {
  font-size: 14px;
  line-height: 23px; }

.static {
  position: fixed; }

.dashboard-nav .nav-item {
  text-align: left !important; }

.icon-push-down {
  margin-top: 0.3em; }

.icon-height {
  margin-top: .4em;
  height: .8em;
  width: .8em; }

.nav-chevron {
  color: white;
  fill: white;
  width: 10px;
  height: 10px;
  stroke-width: 5px;
  stroke-color: white;
  stroke: white;
  position: relative;
  bottom: 2px; }

.noborder {
  border: none; }

.rounded-right {
  border-top-right-radius: .25em;
  border-top-left-radius: .25em; }

#notice {
  background-color: white; }

#fileSummaryContainer {
  overflow: hidden; }

@media screen {
  /* typekit fonts don't seem to work well in print -- we can revisit, but turning off for now */
  h1, h2, h3, header .welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
    font-family: "soleil", sans-serif !important; }

  #home .news li, .cols p, .tableFormat td, header form input.searchbox, header .welcome-drop a, .hero input.searchbox, #slider p, #slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
    font-family: "ff-tisa-web-pro", serif !important; } }
/* for typekit to prevent flash of unstyled content */
.wf-loading {
  font-family: "helvetica";
  visibility: hidden; }

.wf-active {
  visibility: visible; }

#foothumb .ht {
  max-height: 75px;
  min-height: 75px;
  padding-left: 20px;
  padding-right: 20px; }

footer {
  margin-top: 60px; }
  footer #footer {
    padding: 50px 0;
    background: url(/images/r4/bg-footer.png) repeat; }
  footer h6, footer h4 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 0 15px 0; }
  footer ul, footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: left;
    font-size: 13px;
    line-height: 22px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #f1d9bf; }

#ajaxIndicator {
  position: fixed;
  width: 25%;
  z-index: 10001;
  right: 5px;
  bottom: 5px;
  opacity: .9; }

.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  filter: alpha(opacity=0);
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  right: 0;
  /*     top: 0; */
  transform: translate(-300px, 0) scale(4); }

.mb-10 {
  margin-bottom: 1.5rem; }

#titlebar {
  margin-bottom: 1.5rem; }

.btn-group-xs > .btn, .btn-xs {
  padding: .4rem;
  font-size: 80%;
  line-height: .5;
  border-radius: .2rem; }

.divInheritSection button.clear-section {
  display: none; }

.divInheritSection:hover button.clear-section {
  display: inline-block; }

.addAnother {
  margin-left: 1em !important;
  font-weight: bold; }

.mb-p5 {
  margin-bottom: .3rem; }

.col-form-label {
  font-weight: bold; }

.repeat-row + .repeat-row {
  margin-top: .8rem; }

div + .add-another-control {
  top: -.6rem;
  padding-bottom: .5rem;
  position: relative; }

.form-check + .form-check {
  margin-left: .5rem; }

h3.displayName {
  margin-top: 1em;
  border-bottom: 1px solid #EEE; }

/*# sourceMappingURL=style.css.map */
