.view .sidebar, .dashboard .sidebar {
  background: url(/images/r4/bg-cols-right.png) top left repeat-y;
  margin-left: 0px;
  padding-left: 0px; }

.noleftmargin {
  margin-left: 0px;
  padding-left: 0px; }

aside li {
  font-size: 13px;
  line-height: 17px;
  color: #000;
  margin-top: 15px; }

a {
  color: #a72e1d; }

.red {
  color: #a72e1d; }

.serif {
  font-family: "ff-tisa-web-pro", serif !important; }

.black {
  color: #000; }

.white {
  color: white;
  fill: white !important; }
  .white svg, .white svg * {
    color: white;
    fill: white !important; }

.beige {
  background-color: #E3E0D8; }

.white-border-bottom {
  border-bottom: 4px solid white; }

.tdarButton {
  background-color: #a72e1d;
  color: #fff;
  border-radius: 0; }

nav {
  font-weight: bold; }
  nav .logIn {
    font-size: 0.85rem;
    text-transform: uppercase; }
    nav .logIn .tdarLink {
      color: #a72e1d; }

.tdarNav {
  background: url(../../images/r4/bg-sub.jpg) no-repeat bottom center;
  /* background-size: cover;  this doesn't help with smalleer sizes, because the background doesn't fill top-to-botom */
  border-bottom: 1px solid #CCC; }
  .tdarNav .tdarNavItem {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    border-right: #a72e1d; }
  .tdarNav .nav-chevron {
    stroke-width: 5px;
    stroke: #a72e1d; }
  .tdarNav .show .nav-chevron {
    transform: rotate(180deg); }

#home #hero {
  background: url(../../images/r4/bg-home.jpg) no-repeat center;
  background-size: cover; }
  #home #hero h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 50px 0 0 0; }
  #home #hero p {
    margin: 18px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; }
#home .news li {
  font-size: 12px;
  line-height: 20px;
  color: #7d7a77;
  font-style: italic;
  display: block;
  position: relative;
  padding: 12px 0 26px 60px;
  border-bottom: 1px solid #e8e3d7;
  min-height: 4em; }
#home .news li:first-child {
  padding: 0 0 0px 60px; }
#home .news span {
  font-weight: 700;
  color: #e3dfd8;
  display: block;
  width: 35px;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-style: normal; }
#home .news em {
  font-size: 30px;
  font-style: normal;
  display: block; }
#home .news a .title {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  display: block; }
#home .topRight {
  font-weight: bold;
  text-transform: uppercase; }

h1, h2, h3, header {
  font-family: "soleil", sans-serif !important;
  font-weight: 700; }

.welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
  font-family: "soleil", sans-serif !important; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 7px; }

h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20px !important;
  padding-top: 15px; }

aside h4 {
  border-top: 1px solid #e5e5e5; }

#home .news li, .cols p,
.tableFormat td, header form input.searchbox,
header .welcome-drop a,
.hero input.searchbox,
#slider p,
#slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
  font-family: "ff-tisa-web-pro", serif !important; }

.dropdown-menu:after {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.dropdown-menu-right:after {
  left: 80% !important; }

.dropdown-menu:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px; }

.dropdown-menu:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
  border-width: 16.5px;
  margin-left: -16.5px; }

@media (max-width: 768px) {
  #home #hero h2 {
    font-size: 3.5rem; }

  #mdScreenNav {
    background-color: #e4d5bb; }

  .tdarNav {
    background: none; }
    .tdarNav .tdarNavItem {
      padding-left: 0; }

  #tdarNavMenu li, #myAccountNav li {
    border-top: 2px solid #D2BF9E; }
  #tdarNavMenu .nav-link, #tdarNavMenu .btn-link, #myAccountNav .nav-link, #myAccountNav .btn-link {
    color: #352319;
    font-size: 24px;
    font-weight: bold; }

  .nav-chevron {
    stroke: #352319; } }
/*********** SVG **********/
/** set width and height properly **/
.svgicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.svg-small {
  height: 40px !important;
  width: 40px !important; }

.svg100 {
  height: 100px !important;
  width: 100px !important; }

.iconbox125 {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0% !Important;
  margin-bottom: 0% !important;
  height: 125px;
  width: 125px;
  float: none; }

.svg-dynamic125 {
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.iconbox {
  float: none;
  padding: 10%;
  margin-left: auto;
  margin-right: auto; }

.svg-dynamic {
  max-width: 80% !important;
  max-height: 80% !important;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.svg-cartouche {
  height: 1em;
  width: 1em;
  margin: 0 auto;
  display: block;
  margin-right: 3px; }

.flex {
  display: flex; }

.grey {
  fill-color: #555555;
  color: #555555; }

/******** GRAPHING **********/
.barChart .c3-text {
  fill: black !important; }

.barGraph {
  position: relative; }

/*** WORLDMAP *****/
#mapgraphdata {
  text-align: center;
  height: 100px; }

#worldmap.leaflet-container {
  background-color: #D5F0FD;
  border: 1px solid #AAA; }

#worldmap .info {
  background-color: #fff;
  opacity: .8;
  padding: 2px; }

#worldmap .legend {
  background-color: #fff;
  float: right; }

#worldmap .leaflet-control-attribution {
  display: none; }

.worldmap {
  border: 1px solid #aaa; }

#map_legend {
  position: absolute;
  display: block;
  width: 300px;
  height: 1.8em;
  bottom: 0px;
  /* //FIXME: 100px shift is unnecessary if we can put legend inside of .worldmap */
  right: 100px; }

.mapcontainer .legendText {
  padding-top: 0px !important;
  margin-left: 5px;
  margin-right: 5px; }

.mapcontainer .legendBox, .mapcontainer .legendText {
  clear: none;
  float: left; }

.mapcontainer .legendBox {
  border: 1px solid #666666;
  width: 10px;
  margin-top: 3px;
  height: 10px;
  padding: 2px; }

div.mapcontainer {
  position: relative; }

div.mapcontainer img {
  height: 304px !Important;
  right: 0px;
  display: block;
  position: relative; }

.mapcontainer #data {
  font-weight: bold; }

#mapGraphZoomOut, #mapGraphZoomOut *, #mapGraphSearch, #mapGraphSearch * {
  cursor: hand;
  cursor: pointer; }

.mapcontainer.mini h3, .mapcontainer.mini #mapgraphdata {
  display: none; }

.mini #worldmap.leaflet-container {
  border: none;
  background-color: #fff; }

.mini .leaflet-interactive {
  cursor: default; }

/**** VIEW ****/
.view-deleted-file {
  background-color: #edd87b;
  text-decoration: line-through;
  display: none; }

.view-hidden-extra-files {
  display: none; }

/* contextual help styling - based off of 'downloads' box on view page */
#notice {
  font-family: 'ff-tisa-web-pro', serif;
  background-color: #f0eeeb; }

#notice h2 {
  font-size: 15px; }

/*use in column-sized div to scale image if width exceeds parent width */
img.responsive-image {
  max-width: 100%;
  height: auto; }

#downloadsMoreArea {
  background-color: #ddd;
  padding-left: 35px; }

.view aside li strong {
  font-weight: 700;
  font-size: 12px;
  color: #1b1a18;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase; }
.view aside h3.downloads {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #fff;
  height: 45px;
  line-height: 45px;
  margin: 0 !important;
  padding: 0 10px;
  background: #7a1501;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  border-bottom: none; }
.view aside h3.downloads span.downloadNumber {
  display: inline-block;
  float: right;
  font-size: 13px;
  line-height: 22px !important;
  background: #641b11;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 22px;
  text-align: center;
  margin-top: 11px;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }
.view aside h3 {
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin: 20px 0; }
.view aside ul.downloads, .view aside ul.downloads li {
  background: #f0eeeb;
  margin: 0 !important; }
.view aside ul.downloads li {
  color: #7d7a77;
  padding: 14px 10px 14px 32px;
  border-bottom: 1px solid #fff; }
.view aside li strong {
  font-weight: 700;
  font-size: 12px;
  color: #1b1a18;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase; }
.view aside li {
  font-size: 13px;
  line-height: 17px;
  color: #7d7a77;
  margin-top: 15px; }

/*** ALPHA **/
.ribbon-green {
  z-index: 1000;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: fixed;
  padding: 7px 0;
  left: -34px;
  top: 11px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px; }

.ribbon-green:before {
  left: 0; }

.ribbon-green:after {
  right: 0; }

/********** LEAFLET **************/
/** leaflet maps - **/
.disable-map .leaflet-draw {
  display: none;
  visibility: hidden; }

.disable-map .leaflet-container, .leaflet-container.disable-map {
  opacity: .5; }

/* bootstrap css affects google maps v3 - http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps */
#large-google-map img, .google-map img {
  border: inherit;
  height: auto;
  max-width: inherit; }

.tdar-map-large, #large-google-map {
  height: 450px; }

#large-google-map label, .google-map label {
  width: auto;
  display: inline; }

.tdar-gmap-control button:disabled {
  display: none; }

form.leaflet-control-geocoder-form {
  padding: 0px;
  margin: 0px; }

.treeview li {
  margin-top: 0px !important; }

/*# sourceMappingURL=style.css.map */
