header {height:95px;}


/** stop safari from autofilling **/
input[autocomplete="off"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}


/*
    History: this file represents the original source code as provided by Fervor
*/



.carousel-control {
    background-image: none !important;
    filter: none  !important;
    width: 3%;
}

.red {
    color: #7a1501;
}



.tdar-btn-link {
    padding: 0px;
    color:  #7a1501;
}

button.tdar-button, input.tdar-button[type=button] {
    border: none;
}


.serif {
 font-family: "ff-tisa-web-pro", serif !important;
}   

.black {
    color:#000;
}

.white {
   color:white;
   fill:white;
}


button.tdar-button, input.tdar-button[type=button] {
    border: none;
}

/*
        FIXME: make "tdar" flavored buttons consistent.  Migrate "a.button" references to "a.tdar-button", then remove a.button css.

    In the meantime....
        If it's a: link,                        use: .button class
        If it's a: button, input[type=submit]   use: .tdar-button class
    */
a.button, .tdar-button, input.tdar-button[type=submit] {
    font-family: helvetica, arial, sans-serif;
    /*  width: 130px; */
    height: 35px;
    display: inline-block;
    background: #7a1501;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    -ms-filter:
        "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
    zoom: 1;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}



/* Muted background color - when you want to de-emphasize a button in favor of another */
a.button.muted, .tdar-button.muted, input.tdar-button.muted[type=submit] {
    background-color: #686868;
    color: #ffffff;
}

/* Button text is vertically-centered by default. For anchors that look like buttons, we fake vertical center by setting line-height same as button height */
a.button{
    line-height: 35px;
    margin: 0 4px 0 0;
}

a.button:hover, .tdar-button:hover, input.tdar-button[type=submit]:hover {
    background: #c74534;
    text-decoration: none;
}


#foothumb .ht {
    max-height: 75px;
    min-height: 75px;
    padding-left: 20px;
    padding-right: 20px
}

#foothumb {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#foothumb a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#foothumb .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

footer {
    margin-top: 60px;
    background:
        url(/images/r4/bg-footer.png)
        repeat;
    padding: 50px 0;
}



.hidden {
    display:none;
    visibility:hidden;
}



h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}




.cols h1 {
    margin: -5px 0 0 0 !important;
    font-size: 30px;
    line-height: 34px;
}
