/** set width and height properly **/

.svgicon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.svg-small {
  height:40px !important;
  width:40px !important;
}



.iconbox {
    float: none;
    padding: 10%;
     margin-left: auto;
     margin-right: auto;
    
}
.svg-dynamic {
    width:80%;
    height:80%;
    margin-top:15%;
    margin-bottom: 15%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


.svg-cartouche {
    height:1em;
    width:1em;
}

.grey {
    fill-color:#555555;
    color:#555555;
}