.d3tree .node {
	cursor: pointer;
}

.d3tree .node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.d3tree .node circle.children {
	fill: lightsteelblue;
}

.d3tree .found {
	fill: #7a1501;
	stroke: #7a1501;
	stroke-width: 1.5px;
}

.d3tree circle.found {
	fill: #7a1501;;
	stroke: #7a1501;
	stroke-width: 1.5px;
}

.d3tree .node text {
	font: 10px sans-serif;
}

.d3tree .node text.found {
	font: 10px sans-serif;
	stroke:#000 !important;
	stroke-width:.6px;
}

.d3tree .link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}
.d3tree .foundLink {
	fill: none;
	stroke: #7a1501;
	stroke-width: 1.5px;
}

/*Just to ensure the select2 box is "glued" to the top*/
.d3tree .search {
  width: 100%;
}
