header {height:95px;}

button.tdar-button, input.tdar-button[type=button] {
    border: none;
}

/*
        FIXME: make "tdar" flavored buttons consistent.  Migrate "a.button" references to "a.tdar-button", then remove a.button css.

    In the meantime....
        If it's a: link,                        use: .button class
        If it's a: button, input[type=submit]   use: .tdar-button class
    */
a.button, .tdar-button, input.tdar-button[type=submit] {
    font-family: helvetica, arial, sans-serif;
    /*  width: 130px; */
    height: 35px;
    display: inline-block;
    background: #7a1501;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    -ms-filter:
        "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
    zoom: 1;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

#foothumb .ht {
    max-height: 75px;
    min-height: 75px;
    padding-left: 20px;
    padding-right: 20px
}

#foothumb {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#foothumb a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#foothumb .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

footer {
    margin-top: 60px;
    background:
        url(/images/r4/bg-footer.png)
        repeat;
    padding: 50px 0;
}
