<script  type="text/x-template" id="value-template">
<div class="value-container">
<div v-if="type == 'select' || type=='multiselect'">
    <select  :name="fieldName" v-model="internalvalues"  :multiple="type == 'multiselect'">
    <option v-for="(choice, idx) in choices" :value="choice[valueField]" >{{choice[labelField]}}</option>
    </select>
</div>
<div v-else>
<div class="row">
    <div v-for="start in collist()" class="col span2">
<div  v-for="(choice, idx) in subarray(start)">
        <label>{{choice[labelField]}} <input :type="type" :name="fieldName" :value="choice[valueField]" v-model="internalvalues"/></label><br/>
        </div>
    </div>
</div>
</div>
</div>
</script>