<?xml version="1.0"?>
<!--
vim:sts=2:sw=2:
-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       ">

      <import resource="pooling/c3p0.xml" />
	  <!--
	<import resource="pooling/dbcp.xml" />  
	-->	
	
	<!-- All 3 Authentication services are loaded during the test. -->
	<!-- Typically to activated them they must be injected with the external providers as defined below. -->
	<!-- If we want the MockAuthentication Service activated set the property "enableMockAuth" via JVM command line for the test like so: -DenableMockAuth=true -->	
	
	<!-- If we want an actual Atlassian Crowd provider to be used during tests we uncomment this line 
	-->
	<import resource='spring-crowd.xml' />
	
	<!-- If we want an actual LDAP provider to be used during tests we uncomment this line -->
    <!-- <import resource='spring-ldap.xml' /> -->

	<!-- Site specific labels -->    
    <import resource="spring-tag.xml" />	
	<!-- 	<import resource="spring-tag-ahad.xml" /> -->
    

</beans>
