/*Undo browser defaults
------------------------------------------------------------ */
:link,:visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
a img, :link img, :visited img { border: none; }
address { font-style: normal; }

/*Body & Links
------------------------------------------------------------ */
body {
	font: 62.5% Arial,Helvetica,Sans-serif;
	color: #444;
	line-height: 2.2em;
	background: #f9f7f5 !important;
	min-width: 960px;
}
a:link, a:visited { color: #4265a7; }
.entry a:link, .entry a:visited { font-weight: bold; }
a:hover { color: #993333; }

/*Basic Structure
------------------------------------------------------------ */
.wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#content{
	float: left;
	width: 648px;
}
.content-background { background: url(../images/content-background.gif) repeat-x top left; }
#sidebar {
	float: right;
	padding-bottom: 30px;
	width: 266px;
}
#footer {
	clear: both;
	padding-top: 5px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}
.clear:after, li.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.skip-content { display: none; }

/*Header
------------------------------------------------------------ */
#header {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #888888 !important;
	background: #443B31 url(/images/nav-background.gif) repeat-x bottom left;
	
}
h1#title a:link, h1#title a:visited, div#title a:link, div#title a:visited { color: #e9e5e0; }
h1#title a:hover, div#title a:hover { text-decoration: none; }

/*Description
---------------------------------------*/
#description {
	margin: 35px 0 0 40px;
	float: left;
	color: #796957;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 50px;
}

/*Nav
---------------------------------------*/
#nav {
	width: 100%;
	font-size: 1.3em;
}
#nav, #nav ul {
	float: left;
	line-height: 40px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#nav a {
	display: block;
	color: #444;
	text-decoration: none;
	padding: 0px 20px;
}
#nav li {
	float: left;
	border-right: 1px solid #e3e0d5;
}
#nav:first-child { border-left: 1px solid #e3e0d5; }
#nav ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 151px;
	font-weight: normal;
	line-height: 20px;
	border: 0;
	border-top: 1px solid #e3e0d5;
}
#nav li li {
	width: 149px;
	border-bottom: 1px solid #e3e0d5;
	border-left: 1px solid #e3e0d5;
	border-right: 1px solid #e3e0d5;
	background: #f3efeb;
}
#nav li li li { border-left: none; }
#nav li li a {
	padding: 4px 10px;
	width: 130px;
}
#nav li ul ul { margin: -29px 0 0 150px; }
#nav li li:hover { color: #000; }
#nav li ul li:hover a, #nav li ul li li:hover a, #nav li ul li li li:hover a, #nav li ul li li li:hover a { color: #000; }
#nav li:hover a, #nav li.sfhover a { color: #000; }
#nav li:hover li a, #nav li li:hover li a, #nav li li li:hover li a, #nav li li li li:hover li a { color: #444; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul, #nav li.sfhover ul ul ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, #nav li li li li.sfhover ul { left:auto; }
#nav li:hover, #nav li.sfhover {
	background: #fff;
	color: #000;
}
#nav .current_page_parent, #nav .current_page_ancestor, #nav .current-cat-parent {
	background: #fff;
	color: #000;
}
#nav .current-cat, #nav .current_page_item {
	background: #fff;
	color: #000;
}

/*Notice
------------------------------------------------------------ */
div.notice {
	display: block;
	padding: 20px 0;
	font-size: 1.6em;
}
div.notice strong { color: #2f2922; }
div.notice div {
	margin: 10px 0;
	padding: 20px;
	background: #f0ebe6 url(../images/notice-background.gif) repeat-x top left;
}
div.notice div h2 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

/*Page/Post Styling
------------------------------------------------------------ */
.post { margin-bottom: 30px; }
.date span { color: #e0c9b5; }
.author {
	margin: 3px 0 0 131px;
	color: #c0b2a5;
	font-size: 1.2em;
}
/*Post Body
---------------------------------------*/
.entry {
	margin: 0 0 0 131px;
	width: 497px;
	font-size: 1.3em;
}
.entry p { margin-bottom: 10px; }
.entry h2, .entry h3, .entry h4 {
	font-size: 1.3em;
	padding: 15px 0 5px 0;
}
.entry h3 {
	padding-top: 10px;
	font-size: 1em;
}
.entry h4, .entry h5, .entry h6 {
	padding-top: 10px;
	font-size: .9em;
}
pre {
	margin: 10px 0;
	padding: 1em 10px;
	overflow: auto;
	background-color: #e9ebd9;
	color: #000;
}
code {
	padding: 2px 3px;
	font: 1.1em Consolas, "Courier New", sans-serif;
	background-color: #e9ebd9;
	color: #000;
}
pre code { font-size: 1.3em; }
blockquote {
	display: block;
	margin: 20px 0 20px 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #cbcac8;
	color: #666;
	font-style: italic;
	line-height: 1.5em;
}
.entry ul, .c-body ul { margin: 0 0 10px 10px; }
.entry ul li, .c-body ul li {
	list-style-type: disc !important;
	list-style-position: inside !important;
	display: block !important;
	margin: 5px 0;
	padding: 0 0 0 17px;
	background: url(../images/list-item.gif) no-repeat 0 .3em;
}
.entry ol, .c-body ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 5px 0 5px 10px;
}
.entry ol li ol li, .c-body ol li ol li { list-style-type: lower-roman; }
.entry ol li, .c-body ol li { margin: 5px 0; }
.navigation {
	padding: 10px 0;
	font-size: 1.3em;
}
.index { padding: 0; }
/*Comments
------------------------------------------------------------ */
/*Top
---------------------------------------*/
.none { border-bottom: 1px solid #efeae4; }
a#leavecomment {
	font-size: 1.6em;
	padding-left: 2px;
}
/*Body
---------------------------------------*/
li.comment {
	padding-top: 20px;
	border-top: 1px solid #efeae4;
}
li.comment.depth-2 { margin-bottom: 10px; }
#comments ul.children {
	margin: 10px 0 0 131px;
	clear: both;
}
div.c-body {
	margin-left: 131px;
	width: 497px;
	font-size: 1.3em;
}
ul.children div.c-body {
	margin-left: 70px;
	width: 427px;
}
div.c-body p { margin-bottom: 10px; }
div.c-head {
	margin: 0 0 10px 0;
	font-weight: bold;
}
.c-permalink a:link, .c-permalink a:visited {
	color: #55504b;
	font-size: .7em;
}
div.reply { padding-bottom: 10px; }
div.reply a:link, div.reply a:visited { color: #beaa99; }
.barGraph table { bottom:-55px !important; }
/*Form
---------------------------------------*/
form#commentform { margin: 0 0 20px 131px; }
#respond { font-size: 1.3em; }
h4#postcomment {
	margin: 20px 0;
	padding: 5px 0 0 0;
	color: #423c37;
	border-top: 1px solid #efeae4;
}
form#commentform label.comment-field {
	display: block;
	margin: 15px 0 3px 0;
	color: #756a60;
	font-size: 1.2em;
}
input.text-input, form#commentform textarea {
	padding: 7px;
	font-family: inherit;
	font-size: 1.1em;
	border: 1px solid #e6e1db;
	width: 477px;
}
input#author, input#email, input#url { width: 300px; }
form#commentform input#submit {
	padding: 5px;
	width: 150px;
}
form#commentform p.guidelines {
	margin: 10px 0;
	color: #555;
}
p.subscribe-to-comments, p.comments-rss { margin: 0 0 10px 0; }
p.comments-rss a {
	font-size: 1.1em;
	padding: 0 0 0 19px;
	background: url(../images/feed-icon.png) no-repeat 0 .1em;
}
fieldset { border: none; }
/*Note
---------------------------------------*/
p.note {
	font-style: italic;
	font-size: 1.3em;
}
/*Pages
---------------------------------------*/
#content .entry.page {
	margin: 0;
	width: 628px;
}
h1.pagetitle, h2.pagetitle {
	border-top: 1px solid #efeae4;
	margin: 0 0 15px 0;
	padding-top: 20px;
	font-size: 2.2em;
}
/*Archives List
---------------------------------------*/
.entries ul { font-size: 1.3em; }
.entries ul li {
	line-height: 2.5em;
	border-bottom: 1px dashed #dfdad5;
}
.entries span {
	margin-right: 20px;
	color: #777;
}
/*Footer
------------------------------------------------------------ */
#footer {
	padding: 30px 0;
	border-top: 10px solid #ded6d4;
	background: #e7e1de;
	color: #555;
}
#footer a:link, #footer a:visited { color: #444; }
#footer a:hover { text-decoration: underline; }

/*Footer Columns
---------------------------------------*/
.footer-column {
	float: left;
	margin-right: 30px;
	padding-bottom: 20px;
	color: #413f3e;
}
#footer-about.footer-column { width: 337px; }
#footer-flickr.footer-column { width: 281px; }
#footer-search.footer-column {
	margin: 0;
	float: right;
	width: 266px;
}
.footer-column h2 {
	font-size: 1.6em;
	border-bottom: 2px solid #dbd3d0;
	padding-bottom: 2px;
}
.footer-column p {
	margin: 15px 0;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*Search
---------------------------------------*/
#search_form input.search {
	margin: 15px 0 0 0;
	padding: 5px 2px;
	width: 180px;
	border: 1px solid #ded8d5;
	background: #f3f3f3;
	color: #555;
}
#search_form input.search:focus { background: #fff; }
#search_form input#searchsubmit { margin: 0 0 0 5px; }
/*Copyright
---------------------------------------*/
#copyright {
	display: block;
	clear: both;
	padding-top: 1px;
	font-size: 1.1em;
	border-top: 2px solid #dbd3d0;
}
#copyright a:link, #copyright a:visited {
	border-bottom: 1px dotted;
	text-decoration: none;
}
#copyright a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
/*Miscellaneous
---------------------------------------*/
img.border {
	padding: 14px;
	border: 1px solid #e6e1dc;
	background: #f0ebe6;
}
.entry .alignright { margin: 0 0 10px 15px; }
.entry .alignleft { margin: 0 15px 10px 0; }


<!--[if lt IE 8]>
    	.clear, form#commentform { zoom: 1; }
<![endif]--> 

<!--[if IE]>
		.col33.glide label + input { margin-bottom: 0; }
<![endif]-->

#header {
	background-color:#dbd0bc !important;
}

#digant {
    display: block;
    font-size: 11pt;
    font-weight: 100;
    line-height: 130%;
    position: absolute;
    bottom: 4px;
    right: 25px;
    text-align: right;
    z-index: 200;
}

#description {
	margin-left:110px !important;
	line-height:125%;
	position:absolute;
	bottom:4px;
	font-size:17pt;
	display:block;
	color:#555;
	font-weight:100;
}

#title {
	clear:none;
	margin:0px 5px 0px 10px;
	position:absolute;
	bottom:4px;
}

#title img {
	vertical-align: bottom;
}

#topsection {
	border-bottom:1px solid #bbb !important;
	position: relative;
	display: block;
	height: 105px !important;

background: #eae1ce; /* Old browsers */
background: -moz-linear-gradient(top, #eae1ce 0%, #dbd0bc 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae1ce), color-stop(99%,#dbd0bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eae1ce 0%,#dbd0bc 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eae1ce 0%,#dbd0bc 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eae1ce 0%,#dbd0bc 99%); /* IE10+ */
background: linear-gradient(top, #eae1ce 0%,#dbd0bc 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae1ce', endColorstr='#dbd0bc',GradientType=0 ); /* IE6-9 */
}

#diganttext {
	font-family:"Bank Gothic";
	text-shadow: 1px 1px 1px #666;
	position:absolute;
	bottom:0px;
	right:0px;
	width:170px;
}

.singleColumn #content, .singleColumn #content .entry {
	width: 98% !important;
}

.glide {
	border-radius: 15px;
	background: -moz-linear-gradient(center top , #FFF7EB, #DCCEA7) repeat scroll 0 0 transparent !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF7EB), color-stop(99%,#DCCEA7)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFF7EB 0%,#DCCEA7 99%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF7EB 0%,#DCCEA7 99%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF7EB 0%,#DCCEA7 99%) !important; /* IE10+ */
	background: linear-gradient(top, #FFF7EB 0%,#DCCEA7 99%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF7EB', endColorstr='#DCCEA7',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid #104F53 !important;
} 

#sidebar .glide {
	margin: 1em;
}

h3 {
    border-bottom: 1px dotted #104F53;
}

th, td, p, h3, h4, b, span, input, label {
    color: #104F53;
}

.info {
	font-size: 12px;
}

/* The following two rules are identical but different: see http://code.google.com/p/jquery-watermark/ for the reasoning */
input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: bold;
	color: #999; /* silver */
}

input:-moz-placeholder {
	font-style: italic;
	font-weight: bold;
	color: #999; /* silver */
}