$darkRed: #7a1501;
$white: #fff;

.resource-list {

.listItem {
    b {
//        font-size:112%;
    }

}

}

div.tdarresults {
    border-top: double #222;
    border-bottom: double #222;
    padding-bottom: 3em;
    padding-top: 1em;
    margin-bottom: 0.1em;
}


.LIST.list-unstyled li, .MAP li { 
    line-height:20px;
    margin-bottom: 10px;
}


.page-item.active .page-link {
    background-color: $darkRed;
    border-color: $darkRed;
    a {color: $white;}
}

