$red: #a72e1d;
$white: #fff;

.btn
{
  background-color: $red;
  color: $white;
  border-radius: 0;
}

nav
{
  font-weight: bold;

  .logIn
  {
    font-size: 0.85rem;
    text-transform: uppercase;
    .tdarLink
    {
      color: $red;
    }
  }
}

#home
{
  #hero
  {
    background: url(../../images/r4/bg-home.jpg) no-repeat center;
    background-size: cover;
  }

  .news
  {
    li
    {
      font-size: 12px;
      line-height: 20px;
      color: #7d7a77;
      font-style: italic;
      display: block;
      position: relative;
      padding: 12px 0 26px 60px;
      border-bottom: 1px solid #e8e3d7;
      min-height: 4em;
    }

    li:first-child
    {
      padding: 0 0 0px 60px;
    }

    span
    {
      font-weight: 700;
      color: #e3dfd8;
      display: block;
      width: 35px;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-style: normal;
    }

    em
    {
      font-size: 30px;
      font-style: normal;
      display: block;
    }

    a
    {
      .title
      {
        font-family: helvetica, arial, sans-serif;
        font-weight: 700;
        font-size: 15px;
        font-style: normal;
        display: block;
      }
    }
  }

  .topRight
  {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.svgicon
{
  max-height: 50px;
  max-width: 50px;
}

@media(max-width: 768px) {
  #home
  {
    #hero
    {
      h2
      {
        font-size: 3.5rem;
      }
    }
  }
}