$red: #a72e1d;
$darkRed: #7a1501;
$white: #fff;
$beige: #E3E0D8;
$lightBeige: rgba(227, 224, 216, .2);


@import 'homepage';
@import 'navigation';
@import 'leaflet';
@import 'datatables';
@import 'error';
@import 'd3tree-ontology';
@import 'svg';
@import 'worldmap';
@import 'treeview';
@import 'c3graph';
@import 'view';
@import 'search-result';
@import 'famfam';

#sidebar-right {
background: url(/images/r4/bg-cols-right.png) top left repeat-y;
margin-left: 0px;
padding-left: 0px;
}


.noleftmargin {
    margin-left:0px;
    padding-left:0px;
}

aside li {
font-size: 13px;
line-height: 17px;
color: #000;
margin-top: 15px;
}

a, .bookmark-link, .bookmark-label, .page-link {
    color: $darkRed;
}

.red {
    color: $darkRed;
}


.serif {
 font-family: "ff-tisa-web-pro", serif !important;
}   

.black {
    color:#000;
}

.white  {
   color: white;
   fill: white;
}

.beige {
   background-color: $beige;
}

.lightbeige {
    background-color: $lightBeige;
}

.white-border-bottom {
    border-bottom:4px solid white;
}

.btn-primary{
    background: $darkRed;
    border:none;
}

a.tdarButton, .tdar-button, input.tdar-button[type=submit] {
        font-family: helvetica, arial, sans-serif;
        height: 35px;
        display: inline-block;
        background: $darkRed;
        margin: 0 4px 0 0;
        border-radius: 2px;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
        zoom: 1;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
        border: none;
        padding-top:.6em;
        vertical-align:middle;
        padding-bottom:0;
      background-color: $darkRed;
      color: $white;
      border-radius: 0;
      :focus {
          background-color: $red;
      };
}


.tdar-slider {
    h4 {a {
        cursor: auto;
        font-family: ff-tisa-web-pro, serif;
        font-size: 15px;
        font-weight: bold;
        height: auto;
        line-height: 19px;
    }}
    
}

p.lead {
        min-height: 4em;
        color: rgb(125, 122, 119);
        display: block;
        font-family: ff-tisa-web-pro, serif;
        font-size: 13px;

}


h1, h2, h3, h4, h5
{
    
 a {
        color: black;
}
}

h1 {
    font-size: 30px;
    line-height: 34px;
}




h1, h2, h3, header {
  font-family: "soleil", sans-serif !important;
  font-weight: 700;
}

header {
    .navbar button {
        font-size:14px;
    }
}

header + section {
    margin-top: 3.5em;
}


 .welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
     font-family: "soleil", sans-serif !important;
 }

 h2 {
     font-size: 20px;
     line-height: 24px;
     margin-bottom: 10px;
     margin-top: 7px;
 }

 h3 {
     font-size: 17px;
     line-height: 20px;
     margin-bottom: 10px;
     margin-top: 7px;
 }

h4 {
font-size: 14px;
font-weight: 700;
margin-bottom: 5px;
margin-top: 20px !important;
padding-top: 15px;
}

aside h4 {
    border-top: 1px solid #e5e5e5;
}

#home .news li, .cols p,
.tableFormat td, header form input.searchbox,
header .welcome-drop a,
.hero input.searchbox,
#slider p,
#slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
  font-family: "ff-tisa-web-pro", serif !important;
}

@media(min-width: 991.98px) {
  .tdarDropdown
  {
    .flex-column:first-child
    {
      border-right: 2px solid $darkRed;
    }
  }
  .dropdown-menu:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .dropdown-menu-right:after {
    left: 80% !important;
  }

  .dropdown-menu:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
  }
  .dropdown-menu:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 16.5px;
    margin-left: -16.5px;
  }
}

@media(max-width: 768px) {
   #sidebar-right {
      background-image:none;
   }

  #mdScreenNav
  {
    background-color: $beige;
  }

  .tdarNav
  {
    background: none;
    .tdarNavItem
    {
      padding-left: 0;
    }
  }

  #tdarNavMenu, #myAccountNav
  {
    li
    {
      border-top: 2px solid #D2BF9E;
    }

    .nav-link, .btn-link
    {
      color: #352319;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .nav-chevron
  {
    stroke: #352319;
  }
}


.nav-pills {
    .nav-item {width:100%;}
    .nav-link.active {
        background-color: $darkRed;
        color: $white;}
}


/*** ALPHA **/


.ribbon-green {
  z-index:1000;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: fixed;
  padding: 7px 0;
  left: -34px;
  top: 11px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}




.hidden {
    display:none; visibility:hidden;
 }

body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
}


.tableFormat {
    margin: 0;
    padding: 8px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    
    
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

.static {
    position: fixed;
}



.dashboard-nav .nav-item {
text-align:left !important;
}

.icon-push-down {
margin-top: .3em
}

.icon-height {
margin-top: .4em;
height:.8em;
width:.8em;
}

.nav-chevron {
    color: white;
    fill: white;
    width: 10px;
    height: 10px;
    stroke-width: 5px;
    stroke-color: white;
    stroke: white;
    position: relative;
    bottom: 2px;
}

.noborder {
    border: none;
}

.rounded-right {
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
}

#notice {background-color:white;}


#fileSummaryContainer {
    overflow: hidden;
    
}

@media screen {
        /* typekit fonts don't seem to work well in print -- we can revisit, but turning off for now */
        h1, h2, h3, header .welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
            font-family: "soleil", sans-serif !important;
        }

        #home .news li, .cols p, .tableFormat td, header form input.searchbox, header .welcome-drop a, .hero input.searchbox, #slider p, #slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
            font-family: "ff-tisa-web-pro", serif !important;
        }

}

/* for typekit to prevent flash of unstyled content */
.wf-loading {
        font-family: "helvetica";
        visibility: hidden;
}

.wf-active {
        visibility: visible;
}


#foothumb .ht {
max-height: 75px;
min-height: 75px;
padding-left: 20px;
padding-right: 20px;
}
footer {
    margin-top: 60px;
    #footer {
    padding: 50px 0;
        background: url(/images/r4/bg-footer.png) repeat;
    }

h6, h4 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 0 15px 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: left;
    font-size: 13px;
    line-height: 22px;
}
p {
    padding-top:1em;
    font-size: 14px;
    line-height: 22px;
    
}

 a {
    color: #fff;
}

 a:hover {
    color: #f1d9bf;
}

}

#ajaxIndicator {
    position: fixed;
    width: 25%;
    z-index: 10001;
    right: 5px;
    bottom: 5px;
    opacity: .9;
}




.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    right: 0;
/*     top: 0; */
    transform: translate(-300px, 0) scale(4);
}


.mb-10 {
    margin-bottom:1.5rem;
}

#titlebar {
    margin-bottom:1.5rem;
}


.btn-group-xs > .btn, .btn-xs {
    padding: .4rem;
    font-size: 80%;
    line-height: .5;
    border-radius: .2rem;
}

.divInheritSection button.clear-section {
    display:none;
}
.divInheritSection:hover button.clear-section {
    display:inline-block;
}


.addAnother {
    margin-left: 1em !important;
    font-weight: bold;
}

.mb-p5 {
    margin-bottom: .3rem;
}

.col-form-label {
    font-weight:bold;
}

.repeat-row + .repeat-row {
    margin-top:.8rem;
}


.repeatLastRow {
    margin-bottom: 1rem;
}

.repeatLastRow.form-group .form-group:last-child {
    margin-bottom:0rem;
}

.repeatLastRow + .add-another-control {
    top: -.6rem !important;
    position: relative;
}


h3.displayName {
    margin-top:1em;
    border-bottom:1px solid #EEE;
}






#ontology-nodes .hidden-nodes {
    display: none;
    visibility: hidden;
}


.hiddenChildren:after {
    content: "(show more)";
    font-size: 10px !important;
    font-family: helvetica !important;
}

div#ontologyTarget {
    background-color: #efefef;
}






.image-carousel {
.carousel-indicators li {
    background-color:#ddd;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}    
}


#confidentialLabel {
    position: absolute;
    bottom: 0px;
    background-color: white;
    right: 0px;
    padding: 1px 10px 1px 10px;
}

#imageContainer {
    position: relative;
    border: 1px solid #aaa;
    display: inline-block;
}



.primary-thumbnail {
    height: 125px;
    display: inline-block;
    width: 125px;
    /* TODO: use the lines below if thumbnails need to be something other than span2 */
    /*min-width: 125px;*/
    /*width: 100%;*/
    vertical-align: middle;
    text-align: center;
}

.thumbnail-center-spacing {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.thumbnail-border {
    border: 1px solid #eee;
}

.thumbnail-border:hover, .thumbnail-border-selected {
    border: 1px solid #aeaeae;
}


span.uneditable-input {
    overflow:hidden;
}

.help-inline {
    margin-bottom: .5em;
    margin-top:.25em;
}

.label-right {
    margin-top:.6em;
    float:right;
}


.cartouche {
    min-width:10em;
    text-align:left;
    svg {
        float:left;
    }
}

.recordcite {
    .card-body {
        padding-top: .5rem;
        padding-bottom: .3rem;
    }
}

b.srt {
    font-size:16px;
}

.nav-link.align-middle.tdarNavItem {
margin-top: -2px;
}

.all-caps, .uppercase {
    text-transform: uppercase;
}



.resource-nav, #subnavbar.bg-light {
    border-radius: .25rem;
}


h3.downloads {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#fileSummaryContainer {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    
}

#sidebar-right .beige {
    border-radius: .25rem;
}

.rounded-border {
    border: 1px solid #CCC;
    padding: .5em;
    border-radius: .25rem;
};

table {
    border-radius: .25rem;
}

.statusbadge {
    font-size:50%;
    position:relative;
    text-transform:uppercase !important;
    top:-.3rem;
    
    a {
        color:white;
    }
}


.moreinfo {
    font-size:.8em;
    margin-left:.5em;
    color:#555;
}

.popover {
    max-width: 676px !important;
    
    h3 {
        margin-top:0px !important;
    }
}


 form h2 {
    margin-top:1.8rem !important;
}


#divSearchContext {
    /*position the context search box just the 'search tdar' input*/
    position: absolute;
    left: 0px;
    top: 2.5em;
    background-color: #ddd;
    width: 235px;
//    height: 18px;
    margin: 0;
    padding: 10px;
    font-size: 10pt;
    line-height: 1em;
    border-radius: 5px;
    display: none;
    z-index:1000;
}

#divSearchContext.active {
    display: block !important;
}

#divSearchContext input {
    padding: 0;
    margin: 0;
}

#divSearchContext label {
    display: inline-block;
    padding: 0 0 0 0;
    vertical-align: top;
    font-family: ff-tisa-web-pro, serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}



.rounded {
    border-radius:.25em;
}



.login-image {
        background: url(/images/homepage/IMG_4478.jpg) no-repeat center;
        background-size:cover;
        border-radius: .25em;
        .card {
            background-color:rgba(255,255,255,.85)
        }
}

.login-image.image1 {
    background-image: url(/images/homepage/IMG_4478.jpg)  !important;
}

.login-image.image2 {
    background-image: url(/images/homepage/aa-NM-019.jpg)  !important;
}

.login-image.image3 {
    background-image: url(/images/homepage/SqDavisSerpentMoundplate_XXXV.jpg)  !important;
}

.login-image.image4 {
    background-image: url(/images/homepage/chaco-19-1929.jpg)  !important;
}

.login-image.image5 {
    background-image: url(/images/homepage/Hopwell-Mound-City_Squier-Davis.jpg)  !important;
}

.login-image.image6 {
    background-image: url(/images/homepage/NPSMarchingBearMoundGroup.jpg)  !important;
}


.login-image.image7 {
    background-image: url(/images/homepage/Tyuony-1934.jpg)  !important;
}
 
    .login-image.image8 {
        background-image: url(/images/homepage/ELMO-Rock.jpg)  !important;
}

 
        .login-image.image9 {
            background-image: url(/images/homepage/SqDavisPipesfigureS.jpg)  !important;
}

 
            .login-image.image10 {
                background-image: url(/images/homepage/SqDavisPolishedStone2.jpg)  !important;
}



.scroll-x {
    overflow-x: scroll;
}

#view-data-table_wrapper > .row + .row {
    overflow-x: scroll;
}

.rounded-left {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}
