$red: #a72e1d;
$darkRed: #7a1501;
$white: #fff;
$beige: #E3E0D8;
$lightBeige: rgba(227, 224, 216, .2);


@import 'homepage';
@import 'leaflet';
@import 'datatables';
@import 'error';
@import 'd3tree-ontology';
@import 'svg';
@import 'worldmap';
@import 'treeview';
@import 'c3graph';
@import 'view';
@import 'search-result';


#sidebar-right {
background: url(/images/r4/bg-cols-right.png) top left repeat-y;
margin-left: 0px;
padding-left: 0px;
}


.noleftmargin {
    margin-left:0px;
    padding-left:0px;
}

aside li {
font-size: 13px;
line-height: 17px;
color: #000;
margin-top: 15px;
}

a {
    color: $darkRed;
}

.red {
    color: $darkRed;
}


.serif {
 font-family: "ff-tisa-web-pro", serif !important;
}   

.black {
    color:#000;
}

.white  {
   color: white;
   fill: white;
}

.beige {
   background-color: $beige;
}

.lightbeige {
    background-color: $lightBeige;
}

.white-border-bottom {
    border-bottom:4px solid white;
}

.btn-primary{
    background: $darkRed;
    border:none;
}

a.tdarButton, .tdar-button, input.tdar-button[type=submit] {
        font-family: helvetica, arial, sans-serif;
        height: 35px;
        display: inline-block;
        background: $darkRed;
        margin: 0 4px 0 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
        zoom: 1;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
        border: none;
        padding-top:.6em;
        vertical-align:middle;
        padding-bottom:0;
      background-color: $darkRed;
      color: $white;
      border-radius: 0;
      :focus {
          background-color: $red;
      };
}

nav
{
  font-weight: bold;

  .logIn
  {
    font-size: 0.85rem;
    text-transform: uppercase;
    .tdarLink
    {
      color: $darkRed;
    }
  }
}

.tdarNav
{
  background: url(../../images/r4/bg-sub.jpg) no-repeat bottom center;
  /* background-size: cover;  this doesn't help with smalleer sizes, because the background doesn't fill top-to-botom */
  border-bottom:1px solid #CCC; 

  .tdarNavItem
  {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    border-right: $darkRed;
  }

  .nav-chevron
  {
    stroke-width: 5px;
    stroke: $darkRed;
  }
  
  .show .nav-chevron
  {
    transform: rotate(180deg);
  }
}

.tdar-slider {
    h4 {a {
        cursor: auto;
        font-family: ff-tisa-web-pro, serif;
        font-size: 15px;
        font-weight: bold;
        height: auto;
        line-height: 19px;
    }}
    
}

p.lead {
        min-height: 4em;
        color: rgb(125, 122, 119);
        display: block;
        font-family: ff-tisa-web-pro, serif;
        font-size: 13px;

}

.carousel, .image-carousel.carousel {
    .carousel-inner {
        padding-left:6em;
        padding-right:6em;
    }


    .carousel-control {
        display: block;
        width: 24px;
        height: 38px;
        background: url(/images/r4/btns-slider.png) 0 0;
        background-repeat: no-repeat;
        text-indent: -999em;
        opacity: 0.5;
        transition: opacity 0.1s ease-out;
    }

    .car-btn:hover {
        opacity: 1;
    }

    .carousel-control.left {
        left: 0;
    }

    .carousel-control.right {
        right: 0;
        background-position: -24px 0;
    }
    

    /* Changes the position of the indicators */
    .carousel-indicators {
        width: 100%;
        top: auto;
        bottom: 0px;
        /* override bootstrap defaults so that page indicators don't overflow into thumbnail section when they wrap (e.g. carousel w/ 100's of images) */
        /*margin-right: -19px;*/
        position: inherit !important;
        margin: 1em 0 0 0;
    }

.carousel-indicators .active {
        background: #333333;
    }

    .carousel-indicators span {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 4px;
        margin: 1pt;
        width: 3px;
        height: 3px;
        display: inline-block;
        background: #c0c0c0;
    }
    
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.image-carousel.carousel {
    margin-bottom: 10px;
    padding: 0 40px 10px 40px;
}


h1, h2, h3, h4, h5
{
    
 a {
        color: black;
}
}

h1 {
    font-size: 30px;
    line-height: 34px;
}



h1, h2, h3, header {
  font-family: "soleil", sans-serif !important;
  font-weight: 700;
}

header {
    .navbar button {
        font-size:14px;
    }
}

header + section {
    margin-top: 3.5em;
}

header + #hero {
    margin-top: 0em !important;
}

 .welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
     font-family: "soleil", sans-serif !important;
 }

h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 7px;
}

h4 {
font-size: 14px;
font-weight: 700;
margin-bottom: 5px;
margin-top: 20px !important;
padding-top: 15px;
}

aside h4 {
    border-top: 1px solid #e5e5e5;
}

#home .news li, .cols p,
.tableFormat td, header form input.searchbox,
header .welcome-drop a,
.hero input.searchbox,
#slider p,
#slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
  font-family: "ff-tisa-web-pro", serif !important;
}

@media(min-width: 991.98px) {
  .tdarDropdown
  {
    .flex-column:first-child
    {
      border-right: 2px solid $darkRed;
    }
  }
  .dropdown-menu:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .dropdown-menu-right:after {
    left: 80% !important;
  }

  .dropdown-menu:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
  }
  .dropdown-menu:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 16.5px;
    margin-left: -16.5px;
  }
}

@media(max-width: 768px) {
  #home
  {
    #hero
    {
      h2
      {
        font-size: 3.5rem;
      }
    }
  }

  #mdScreenNav
  {
    background-color: $beige;
  }

  .tdarNav
  {
    background: none;
    .tdarNavItem
    {
      padding-left: 0;
    }
  }

  #tdarNavMenu, #myAccountNav
  {
    li
    {
      border-top: 2px solid #D2BF9E;
    }

    .nav-link, .btn-link
    {
      color: #352319;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .nav-chevron
  {
    stroke: #352319;
  }
}


.nav-pills {
    .nav-item {width:100%;}
    .nav-link.active {
        background-color: $darkRed;
        color: $white;}
}


/*** ALPHA **/


.ribbon-green {
  z-index:1000;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: fixed;
  padding: 7px 0;
  left: -34px;
  top: 11px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}




.hidden {
    display:none; visibility:hidden;
 }

body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}


.tableFormat {
    margin: 0;
    padding: 8px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    
    
}

p {
    font-size: 14px;
    line-height: 23px;
}

.static {
    position: fixed;
}



.dashboard-nav .nav-item {
text-align:left !important;
}

.icon-push-down {
margin-top: .3em
}

.icon-height {
margin-top: .4em;
height:.8em;
width:.8em;
}

.nav-chevron {
    color: white;
    fill: white;
    width: 10px;
    height: 10px;
    stroke-width: 5px;
    stroke-color: white;
    stroke: white;
    position: relative;
    bottom: 2px;
}

.noborder {
    border: none;
}

.rounded-right {
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
}

#notice {background-color:white;}


#fileSummaryContainer {
    overflow: hidden;
    
}

@media screen {
        /* typekit fonts don't seem to work well in print -- we can revisit, but turning off for now */
        h1, h2, h3, header .welcome-drop p, #home .news span, .why article p, .why article ul, .contrib p, .contrib ul, .contrib .span3 li, .searchresults p, .searchresults aside li, .searchresults .sort p, .searchresults .sort form, .searchresults .pagin td.prev, .searchresults .pagin td.next, .searchresults .pagin li, header .welcome-drop p {
            font-family: "soleil", sans-serif !important;
        }

        #home .news li, .cols p, .tableFormat td, header form input.searchbox, header .welcome-drop a, .hero input.searchbox, #slider p, #slider span, .bucket p, #alt aside li, .why article li, .contrib li, .contrib .span3 p, .searchresults aside li, .searchresults aside label, .searchresults article p, footer ul, footer li {
            font-family: "ff-tisa-web-pro", serif !important;
        }

}

/* for typekit to prevent flash of unstyled content */
.wf-loading {
        font-family: "helvetica";
        visibility: hidden;
}

.wf-active {
        visibility: visible;
}


#foothumb .ht {
max-height: 75px;
min-height: 75px;
padding-left: 20px;
padding-right: 20px;
}
footer {
    margin-top: 60px;
    #footer {
    padding: 50px 0;
        background: url(/images/r4/bg-footer.png) repeat;
    }

h6, h4 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 0 15px 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: left;
    font-size: 13px;
    line-height: 22px;
}

 a {
    color: #fff;
}

 a:hover {
    color: #f1d9bf;
}

}

#ajaxIndicator {
    position: fixed;
    width: 25%;
    z-index: 10001;
    right: 5px;
    bottom: 5px;
    opacity: .9;
}




.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    right: 0;
/*     top: 0; */
    transform: translate(-300px, 0) scale(4);
}


.mb-10 {
    margin-bottom:1.5rem;
}

#titlebar {
    margin-bottom:1.5rem;
}


.btn-group-xs > .btn, .btn-xs {
    padding: .4rem;
    font-size: 80%;
    line-height: .5;
    border-radius: .2rem;
}

.divInheritSection button.clear-section {
    display:none;
}
.divInheritSection:hover button.clear-section {
    display:inline-block;
}


.addAnother {
    margin-left: 1em !important;
    font-weight: bold;
}

.mb-p5 {
    margin-bottom: .3rem;
}

.col-form-label {
    font-weight:bold;
}

.repeat-row + .repeat-row {
    margin-top:.8rem;
}


.repeatLastRow {
    margin-bottom: 1rem;
}

.repeatLastRow.form-group .form-group:last-child {
    margin-bottom:0rem;
}

.repeatLastRow + .add-another-control {
    top: -.6rem !important;
    position: relative;
}


h3.displayName {
    margin-top:1em;
    border-bottom:1px solid #EEE;
}






#ontology-nodes .hidden-nodes {
    display: none;
    visibility: hidden;
}


.hiddenChildren:after {
    content: "(show more)";
    font-size: 10px !important;
    font-family: helvetica !important;
}

div#ontologyTarget {
    background-color: #efefef;
}





/***** NAV *******/

/* resource navigation toolbar */
.resource-nav {
    height: 40px;
    margin: 40px 0px 40px 0px;
    background: #f0eeeb;
}
.resource-nav ul{
    position:relative;
    left: -10px;
}

.resource-nav ul, .resource-nav li, .inline-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline-block;

}

.resource-nav li a {
    float: left;
}

.resource-nav li span.disabled {
    display: inline-block;
}

.resource-nav li a, .resource-nav li span.disabled {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #7d7a77;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 10px 9px 10px;
    border-right: 1px solid #fff;
}

.resource-nav li span.disabled {
    color: #ccc !important;
}

.lt-ie10 .resource-nav li a {
    padding: 15px 20px 14px 40px !important;
}

.resource-nav li a:hover, .resource-nav li.active a {
    color: #fff;
    background: #7a1501;
    text-decoration: none;
}

.resource-nav li.disabled a:hover {
    background-color: inherit !important;
    color: inherit !important;
    text-decoration: none;
}

.resource-nav li.edit a {
    background-position-y: -40px;
}

.resource-nav li.delete a {
    background-position-y: -95px;
}

.resource-nav li.bookmark a {
    background-position-y: -150px;
}

.resource-nav li.un-bookmark a {
    background-position-y: -300px;
}

.resource-nav li.disabled.bookmark a {
    background-position-y: -300px;
}

.resource-nav li.columns a {
    background-position-y: -203px;
}

.resource-nav li.mapping a {
    background-position: 12px -258px;
}

.image-carousel {
.carousel-indicators li {
    background-color:#ddd;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}    
}


#confidentialLabel {
    position: absolute;
    bottom: 0px;
    background-color: white;
    right: 0px;
    padding: 1px 10px 1px 10px;
}

#imageContainer {
    position: relative;
    border: 1px solid #aaa;
    display: inline-block;
}



.primary-thumbnail {
    height: 125px;
    display: inline-block;
    width: 125px;
    /* TODO: use the lines below if thumbnails need to be something other than span2 */
    /*min-width: 125px;*/
    /*width: 100%;*/
    vertical-align: middle;
    text-align: center;
}

.thumbnail-center-spacing {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.thumbnail-border {
    border: 1px solid #eee;
}

.thumbnail-border:hover, .thumbnail-border-selected {
    border: 1px solid #aeaeae;
}


span.uneditable-input {
    overflow:hidden;
}

.help-inline {
    margin-bottom: .5em;
    margin-top:.25em;
}